{% from 'macros/helpers.html' import sprite %}
{% import "items/tabs/tabs.html" as tabs %}

{% set otherPostsSection %}
    <section class="panel">
        <header class="typo--header hidden-sm-down">
            <h6 class="typo--title">
                <a href="">Другие посты</a>
            </h6>
        </header>
        <div class="panel-content">
            {% include "items/list/list_other_posts.html" %}
        </div>
    </section>
{% endset %}

{% set forumSection %}
    <section class="panel">
        <header class="typo--header hidden-sm-down">
            <h6 class="typo--title">
                <a href="">Новое на форумах</a>
            </h6>
        </header>
        <div class="panel-content">
            {% include "items/list/list_forum.html" %}
        </div>
    </section>
{% endset %}

<div class="panel-component bg-light">
    <div class="container">
        {{tabs.tabs(
            class = 'row panel-row',
            classBar = 'hidden-md-up col-sm-12',
            items = {
                item1: {
                    class: 'is-active',
                    classPanel: 'panel-column col-sm-12 col-md-6',
                    id: 'tab-other-posts',
                    title: 'Другие посты',
                    content: otherPostsSection
                },
                item2: {
                    class: '',
                    classPanel: 'panel-column col-sm-12 col-md-6',
                    id: 'tab-forum',
                    title: 'Новое на форумах',
                    content: forumSection
                }        
            }
        )}}
    </div>
</div>