{% macro card(
    class='',
    image='',
    num='',
    label_type='',
    label_text='',
    title='',
    description='',
    info_user='',
    info_user_icon='',
    info_time='',
    hasNewComment=false
) %}

<section class="card {{ class }}">
    {% if image | length %}
        <div class="card__img" style="background-image: url({{ image | safe }})"></div>
    {% elif num | length %}
        <div class="card__num">{{ num }}</div>
    {% endif %}
    {% if label_text | length %}
        <a href="#" class="label label--type card__label {{ label_type }}">{{ label_text | safe }}</a>
    {% endif %}
    <div class="card__content">
        {% if info_user | length %}
        <div class="card__info">
            <a href="#" class="card__info-user">{{ info_user_icon | safe }}{{ info_user | safe }}</a>
            {% if info_time | length %}
                <div class="card__info-time">{{ info_time | safe }}</div>
            {% endif %}
        </div>
        {% endif %}
        {% if title | length %}
            <h2 class="card__title">
                <a href="#">{{ title | safe }}</a>
            </h2>
        {% endif %}
        {% if description | length %}
            <div class="card__description">
                {{ description | safe }}
            </div>
        {% endif %}
    </div>
    {% include "items/cards/card-icons.html" %}
</section>

{% endmacro %}