.blogs-personal {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 26px;
  border-bottom: solid 1px rgba(158, 158, 158, 0.27);
  background-color: $white;

  .authors {
    display: flex;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba(158, 158, 158, 0.27);

    .author {
      margin-right: 48px;

      .media-left {
        padding-right: 20px;

        .media-object {
          width: 46px;
          height: 46px;
        }
      }

      .author-info {
        .author-name {
          font-size: $font-size-base;
          color: $darker-grey;

          &:hover {
            color: inherit;
            text-decoration: underline;
          }
        }
        
        .icon {
          &.-ttd-team {
            &,
            & svg {
              width: 16px;
              height: 14px;
            }
          }
          
          &.-expert {
            &,
            & svg {
              width: 16px;
              height: 14px;
            }
          }
        }

        .author-count {
        }
      }

      .title {
        font-size: $font-size-sm;
        position: relative;
        top: -5px;
        color: $grey;
      }

      &.co-author {
        .media-left {
          padding-right: 0;
          margin-left: -5px;
          z-index: 10;
          
          &:first-child {
            margin-left: 0;
            z-index: 20;
          }

        }

        .author-count {
          border: solid 1px $light-silver;
          border-radius: 50%;
          font-size: 18px;
          line-height: 38px;
          text-align: center;
          width: 40px;
          height: 40px;
          display: block;
          margin-left: -5px;
          color: $grey;

          &:hover {
            color: inherit;
          }
        }

        .author-show {
          font-size: $font-size-sm;
          margin-left: 15px;
          line-height: 1.2;
          margin-top: 5px;
          color: $grey;

          &:hover {
            color: inherit;
          }
        }

      }

    }
  }

  .blogs-personal__head {
    padding-top: 30px;
  }

  .blogs-personal__title {
    @include typo-h1;
    color: $darker-grey;
  }

  .blogs-personal__description {
    @include typo-h6;
    font-style: italic;
    color: $grey;
  }

  .follow-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .follow-btn {
      border-radius: 20px;
      height: 40px;
      order: 2;
      margin-left: 40px;
    }

    .followers-counter {
      font-size: $font-size-xs;
      color: $grey;
      order: 1;
    }
  }
}

@include media-breakpoint-down(md) {
  .blogs-personal {
    .authors {
      .author {
        .media-left {
          padding-right: 17px;

          .media-object {
            width: 42px;
            height: 42px;
            border: 2px solid $white;
            position: relative;
            margin-left: -2px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .blogs-personal {
    padding: 20px 16px;
    margin-bottom: 8px;

    .authors {
      padding-bottom: 20px;

      .author {
        margin-right: 19px;


        .media-left {
          padding-right: 17px;

          .media-object {
            width: 42px;
            height: 42px;
            border: 2px solid $white;
            position: relative;
            margin-left: -2px;
          }
        }
      }
    }

    .blogs-personal__head {
      padding-top: 16px;
    }
    
    .blogs-personal__title {
      @include typo-h3;
      color: $darker-grey;
    }

    .blogs-personal__description {
      @include typo-body;
      color: $grey;
    }

    .follow-block {
      justify-content: flex-start;
      padding-top: 16px;

      .follow-btn {
        height: 36px;
        border-radius: 18px;
        order: 1;
        margin-left: 0;
        margin-right: 16px;
      }
      
      .followers-counter {
        order: 2;
      }
    }
  }
}