.card.marked {
  padding-top: 50px;
  padding-bottom: 90px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-style: italic;

  .card_content {
    line-height: 1.2;
    font-size: 20px;
    text-align: center;
  }
  .mark {
    background-color: #cfffdf;

    strong {
      font-style: normal;
    }
  }
}