$container-max-width-lg: map-get($container-max-widths, 'lg');

.slider-promo__container {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark;
  padding-top: 56px;
  padding-bottom: 56px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;

  @include media-breakpoint-down(md) {
    padding-top: 46px;
    padding-bottom: 46px;
    margin-top: 46px;
    margin-bottom: 36px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 36px;
    padding-bottom: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .swiper-scrollbar {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  .swiper-container {
    @include media-breakpoint-down(md) {
      margin-left: -24px;
      margin-right: -24px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  .swiper-wrapper {
    @include media-breakpoint-down(md) {
      left: 24px;
    }

    @include media-breakpoint-down(sm) {
      left: 16px;
    }
  }
}

.slider-promo__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  padding-left: 10%;
  padding-right: 10%;
 
  @media (max-width: 1560px) {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

.slider-promo__title {
  @include typo-h3;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;

  @include media-breakpoint-down(sm) {
    @include typo-h5;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &,
  & a,
  & a:hover,
  & a:focus {
    color: $white;
  }
}

.slider-promo__item {
  position: relative;
  display: inline-block;   
  max-width: 286px;
  width: 17.875rem;
  vertical-align: top;
  text-align: left;
}

.slider-promo__item-img {
  display: block;
  margin-bottom: 18px;
  
  img {
    height: 160px;
    width: auto;
  }
}   

.slider-promo__item-title {
  @include typo-title;
  margin-bottom: 0;

  &,
  & a,
  & a:hover,
  & a:focus {
    color: $white;
  }
}

.slider-promo__prev-wrap,
.slider-promo__next-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;

  @include media-breakpoint-down(md) {
    width: 68px;
  }

  @include media-breakpoint-down(sm) {
    width: 60px;
    display: none;
  }
}

.slider-promo__prev-wrap {
  left: 0;
}

.slider-promo__next-wrap {
  right: 0;
}

.slider-promo__next-wrap .slider-promo__next,
.slider-promo__prev-wrap .slider-promo__prev {
  background-color: rgba(36, 42, 50, 0.95);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  @include media-breakpoint-down(md) {
    margin-top: -10px;
  }
}

.slider-promo__prev-wrap .slider-promo__prev {
  margin-left: 12px;

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}

.slider-promo__next-wrap .slider-promo__next {
  margin-left: -12px;

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}

.slider-promo__pagination {
  display: none;
}