.slider-carousel {
  &__wrapper {
    position: relative;

    &:hover {
      .slider-carousel__arrow {
        display: block;
      }
    }
  }
  &__container {
    position: relative;
  }
  &__arrow {
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0,0,0,.45);
    text-align: center;
    top: 50%;
    z-index: 100;

    &:hover {
      background-color: rgba(0,0,0,.6);

      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      border: 3px solid $white;
      border-top: none;
      border-left: 0;
      opacity: .7;
      transform: rotate(135deg);
      position: absolute;
      top: 19px;
    }

    &.prev__arrow {
      left: -110px;
      &::before {
        left: 20px;
      }
    }
    &.next__arrow {
      right: -110px;

      &::before {
        right: 18px;
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 1450px) {
  .slider-carousel__arrow {
    &.next__arrow {
      right: -40px;
    }
    &.prev__arrow {
      left: -40px;
    }
  }
}
@media (max-width: 1310px) {
  .slider-carousel__arrow {
    &.next__arrow {
      right: 10px;
    }
    &.prev__arrow {
      left: 10px;
    }
  }
}