.slider-promo__container {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dark;
  padding-top: 56px;
  padding-bottom: 56px;
  margin-top: 40px;
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    padding-top: 46px;
    padding-bottom: 46px;
    margin-top: 46px;
    margin-bottom: 36px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 36px;
    padding-bottom: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .swiper-scrollbar {
    display: none;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  .swiper-container {
    @include media-breakpoint-down(md) {
      margin-right: -24px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: -16px;
    }
  }
}

.slider-promo__wrapper {
  position: relative;
}

.slider-promo__title {
  @include typo-h3;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;

  @include media-breakpoint-down(sm) {
    @include typo-h5;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &,
  & a,
  & a:hover,
  & a:focus {
    color: $white;
  }
}

.slider-promo__item {
  position: relative;
  display: inline-block;   
  max-width: 286px;
  width: 17.875rem;
  vertical-align: top;
}

.slider-promo__item-img {
  display: block;
  margin-bottom: 18px;
  
  img {
    height: 160px;
    width: auto;
  }
}   

.slider-promo__item-title {
  @include typo-title;
  margin-bottom: 0;

  &,
  &:hover,
  &:focus {
    color: $white;
  }
}

.slider-promo__prev,
.slider-promo__next {
  background-color: rgba(36, 42, 50, 0.95);

  .slider-promo__wrapper & {
    position: absolute;
    top: 66px;
    margin: 0;
    z-index: 1;

    @include media-breakpoint-down(md) {
      top: 58px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.slider-promo__prev {
  .slider-promo__wrapper & {
    right: 100%;
    margin-right: 66px;

    @media (max-width: 1419px) {
      right: auto;
      margin-right: 0;
      left: -12px;
    }
  }
}

.slider-promo__next {
  .slider-promo__wrapper & {
    left: 100%;
    margin-left: 66px;

    @media (max-width: 1419px) {
      left: auto;
      margin-left: 0;
      right: -12px;
    }
  }
}

.slider-promo__pagination {
  display: none;
}