// container

.slider-plays__container {
  width: 100%;
  max-width: 100%;
  position: relative;
  background-repeat: no-repeat;
  @include img-retina($banner-wide-slider, $banner-wide-slider-x2, 100%, 100%);    
  background-size: cover !important;
  box-shadow: none;
  color: $white;

  @include media-breakpoint-down(sm) {
    background-image: radial-gradient(circle at 1% 1%, #323a6a, #232a4e);
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0f1a29;
    opacity: .8;
    border-radius: 2px;
  }

  &.slider-plays--wide {
    background-color: transparent;
    background-image: none;
    border: none;
    color: $darker-grey;
    margin-bottom: 32px;
  }
}

.slider-plays__header {
  margin-left: 20px;
  margin-right: 20px;

  @include media-breakpoint-down(sm) {
    margin-left: 16px;
    margin-right: 16px;
  }

  .slider-plays--wide & {
    border-bottom: none;
    margin-left: 0;
    margin-right: 0;

    &,
    & > .container {
      height: 68px;

      @include media-breakpoint-down(sm) {
        height: 56px;
      }
    }
  }
}

// wrapper

.slider-plays__wrapper {
  position: relative;
  padding-bottom: 1px;
}

.slider-plays__swiper-wrapper {
  &,
  &.swiper-wrapper {
    padding-top: 0;
    padding-bottom: 0;     
  }
}

// item

.slider-plays__item { 
  align-self: stretch;
  margin: 0;
  padding: 38px 20px 62px;

  @include media-breakpoint-down(md) {
    padding: 22px 20px 32px;
  }

  @include media-breakpoint-down(sm) {
    padding: 24px 16px 86px;
  }     

  & .mdl-list__item-title,
  & .mdl-list__item-actions-hint {
    color: $white;
  }

  &.mdl-list__item--more-line .mdl-list__item-primary-content {
    padding-bottom: 0;
    align-self: stretch;
    padding-bottom: 52px;
    position: relative;

    & > a {
      position: relative;
      z-index: 1;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 48px;
    }

    .mdl-list__item-actions {
      position: absolute;
      bottom: 0;
      z-index: 2;
    }
  }

  .slider-plays--wide & {
    background-color: $dark-blue;
    padding: 42px 36px 52px;

    @include media-breakpoint-down(md) {
      padding: 36px 24px;
    }

    @include media-breakpoint-down(sm) {
      padding: 22px 16px;
    }

    &.is-hoverable:hover {
      background-color: lighten($dark-blue, 5%);
    }

    &:nth-child(even) {
      background-color: $darker-blue;

      @include media-breakpoint-down(sm) {
        background-color: $dark-blue;
      }
    }

    .mdl-list__item-primary-content {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-down(md) {
        max-width: 100%;
      }

      &:before {
        @include media-breakpoint-down(sm) {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          left: $list-avatar-text-left-distance-md;
          bottom: -22px;
          border-bottom: 1px solid $border-color;
          opacity: .6;
        }
      }
    }   
  }
}

// pagination

.slider-plays__pagination {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  .slider-plays__wrapper & {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    text-align: center;
    z-index: 2;

    @include media-breakpoint-down(sm) {
      bottom: 20px;
    }
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: .3;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    background-color: $white;

    &:hover,
    &-active,
    &-active:hover {
      opacity: 1;
    }

    &-active {
      cursor: default;
    }
  }

  .slider-plays--wide & {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}