$container-max-width-lg: map-get($container-max-widths, 'lg');

// container

.slider-wide__container {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  overflow: hidden;
 
  &.slider-wide--promo {
    padding-top: 56px;
    padding-bottom: 56px;
    margin-top: 40px;
    margin-bottom: 40px;

    @include media-breakpoint-down(md) {
      padding-top: 46px;
      padding-bottom: 46px;
      margin-top: 46px;
      margin-bottom: 36px;      
    }

    @include media-breakpoint-down(sm) {
      padding-top: 36px;
      padding-bottom: 36px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  &.slider-wide--tournament {
    padding-top: 14px;

    @include media-breakpoint-down(sm) {
      padding-top: 6px;
    }
  }

  &.slider-wide--dark {
    background-color: $dark;
  }

  &.slider-wide--silver {
   background-color: $silver; 
  }
}

// wrapper

.slider-wide__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  display: inline-flex;
  padding-left: 10%;
  padding-right: 10%;
 
  @media (max-width: 1560px) {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

// title

.slider-wide__title {
  & a {
    color: inherit;
  }

  .slider-wide--promo & {
    @include typo-h3;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;    

    @include media-breakpoint-down(sm) {
      @include typo-h5;
      font-weight: 700;
      margin-bottom: 24px;
    }
  }

  .slider-wide--dark & {
    color: $white;
  }
}

// header

.slider-wide__header {
  .slider-wide--tournament &,
  .slider-wide--tournament &.typo--header {
    margin-bottom: 18px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
    }
  }
}

// item container

.slider-wide__item-container,
.slider-wide__item-container.swiper-container {
  @include media-breakpoint-down(md) {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
  }

  @include media-breakpoint-down(sm) {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
  }

  .slider-wide--tournament & {
    padding-bottom: 34px;

    @include media-breakpoint-down(md) {
      padding-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 22px;
    }
  }
}

// item

.slider-wide__item {
  text-align: left;
  margin: 0 20px 0 0;
  min-height: 200px;

  @include media-breakpoint-down(sm) {
    margin-right: 16px;
  }

  .slider-wide--promo & {
    position: relative;
    display: inline-block;
    min-width: 285px;
    width: 17.8125rem;
    vertical-align: top;
    text-align: left;    
    margin: 0 20px 0 0;

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
    }
  }

  .slider-wide--tournament &,
  .slider-wide--tournament &.tournament-item {
    margin: 0 20px 0 0;

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
    }
  }
}

// item img

.slider-wide__item-img {
  .slider-wide--promo & {
    display: block;
    margin-bottom: 18px;
    
    img {
      height: 160px;
      width: auto;
    }    
  }
}   

// item title

.slider-wide__item-title {
  & a {
    color: inherit;
  }

  .slider-wide--promo & {
    @include typo-title;
    margin-bottom: 0;    
  }

  .slider-wide--dark & {
    color: $white;
  }
}

// prev next

.slider-wide__prev-wrap,
.slider-wide__next-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;

  @include media-breakpoint-down(md) {
    width: 68px;
  }

  @include media-breakpoint-down(sm) {
    width: 60px;
    display: none;
  }
}

.slider-wide__prev-wrap {
  left: 0;
}

.slider-wide__next-wrap {
  right: 0;
}

.slider-wide__next-wrap .slider-wide__next,
.slider-wide__prev-wrap .slider-wide__prev {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  .slider-wide--promo & {
    @include media-breakpoint-down(md) {
      margin-top: -10px;
    }
  }

  .slider-wide--tournament & {
    margin-top: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .slider-wide--dark & {
    background-color: rgba($dark, 0.95);
  }

  .slider-wide--silver & {
    background-color: rgba($silver, 0.9);
  }
}

.slider-wide__prev-wrap .slider-wide__prev {
  margin-left: 12px;

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}

.slider-wide__next-wrap .slider-wide__next {
  margin-left: -12px;

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}

// pagination

.slider-wide__pagination {
  display: none;
}