.wide-slider-white__wrapper {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  border-bottom: solid 1px rgba(158, 158, 158, 0.27);
  border-radius: 2px;
  margin-bottom: 32px;
  background-color: $white;
  
  .wide-slider-white__title {
    @include typo-title;
    padding: 20px 0 0;
    margin: 0 16px;
    color: $darker-grey;

    &::before {
      content: '';
      width: 100%;
      bottom: -2px;
      height: 2px;
      opacity: 0.3;
      color: $dark-grey;
    }
  }

  .wide-slider {
    position: relative;

    .wide-slider__item {
      padding: 30px 22px 60px;
      display: inline-block;
      position: relative;
      border-right: solid 1px rgba(158, 158, 158, 0.16);
      
      .wide-slider__item__image {
        float: left;
        margin-right: 20px;

        .media-object {
          width: 46px;
          height: 46px;
        }
      }
      
      .wide-slider__item__title {
        @include typo-body;
        height: 48px;
        margin-left: 68px;
        color: $darker-grey;

        .text-label {
          @include typo-body-sm;
          position: relative;
          top: -8px;
          left: 5px;
          color: $salmon;
        }
      }

      .wide-slider__item__control {
        position: absolute;
        bottom: 26px;
        left: 88px;
        
        .team_name {
          @include typo-body;
        }
        
        .btn {
          min-width: 96px;
          margin-left: 22px;
        }
      }
    }

    .owl-stage-outer,
    .owl-stage,
    .owl-item {
      height: 100%;
      display: inline-block;

    }
    
    .owl-item {
      &.active {
        &:nth-of-type(3) {
          .wide-slider__item {
            border-right: none;
          }
        }
      }
    }
    
    .owl-controls {
      .owl-dots {
        display: none;
      }
      
      .owl-nav {
        position: absolute;
        top: -45px;
        right: 18px;
        width: 60px;
        font-size: 1px;
        color: transparent;
        text-align: right;

        .owl-prev {
          display: inline-block;
          width: 25px;
          height: 30px;
          background-image: $arrow-block-slide;
          background-size: contain;
          cursor: pointer;
          opacity: .4;

          &:hover {
            opacity: 1;
          }
        }
        
        .owl-next {
          display: block;
          float: right;
          width: 25px;
          height: 30px;
          background-image: $arrow-block-slide;
          transform: rotate(-180deg);
          background-size: contain;
          cursor: pointer;
          opacity: .4;
          margin-left: 5px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .wide-slider-white__wrapper {
    .wide-slider {
      padding-bottom: 12px;
      padding-right: 16px;
      
      &__wrapper {
        background-image: none;
      }
      
      &__title {
        font-size: $font-size-lg;
        padding: 16px 0 13px;
        margin: 0 14px;
      }

      .wide-slider__item {
        padding: 16px 16px 0;
        margin-bottom: 6px;
        width: 100%;
        border-right: none;
        overflow: hidden;
        
        &:last-child {
          .wide-slider__item__control {
            border-bottom: none;
          }
        }
        
        .wide-slider__item__image {
          height: 40px;
          width: 40px;
          margin-right: 16px;

          .media-object {
            height: 40px;
            width: 40px;
            position: relative;
            top: -2px
          }
        }

        .wide-slider__item__title {
          margin-left: 56px;
          margin-bottom: 16px;
        }

        .wide-slider__item__control {
          position: relative;
          bottom: auto;
          left: 56px;
          border-bottom: solid 1px rgba(158, 158, 158, 0.162);
          padding-bottom: 24px;
          position: relative;

          .btn {
            margin-left: 30px;
            position: absolute;
            right: 95px;
            top: -2px;
          }
        }
      }
    }
  }
}