{% from 'macros/helpers.html' import sprite %}

{% macro list(
    class = '',
    items = {
        item1: {
            class: '',
            avatar: { src: '', width: '', height: '' },
            title: 'title',
            titleicon: '',
            textbody: 'text',
            textbodylink: [],
            info_user: '',
            info_user_icon: '',
            info_time: '',
            info_sub: '',
            withoutAvatar: false,
            area_link: false
        }
    }
) %}

<ul class="mdl-list {{ class }}">
  {% for id, item in items %}
  <li class="mdl-list__item {{ item.class or 'mdl-list__item--more-line' }}">
    <span class="mdl-list__item-primary-content">
      
      {% if item.withoutAvatar %}
      {% elseif item.avatar | length %}
        <a href="">
          <img class="mdl-list__item-avatar" src="{{ item.avatar.src }}" alt="" width="{{ item.avatar.width }}" 
        height="{{ item.avatar.height }}">
        </a>
      {% else %}
        <a href="">
          {{ sprite('person-circle', '0 0 1 1', 'icon mdl-list__item-avatar') }}
        </a>
      {% endif %}
      
      <span class="mdl-list__item-primary-content-inner">
        {% if (item.info_user | length) or (item.info_time | length) or (item.info_sub_title | length)  %}
          <span class="mdl-list__item-info">
            {% if item.info_user | length %}
              <a href="" class="mdl-list__item-info-user">
                {{ item.info_user_icon | safe }}
                {{ item.info_user | safe }}
              </a>
            {% endif %}
            {% if item.info_time %}
            <span class="mdl-list__item-info-time">
              {{ item.info_time | safe }}
            </span>
            {% endif %}
            {% if item.info_sub %}
            <span class="mdl-list__item-info-sub">
              {{ item.info_sub | safe }}
            </span>
            {% endif %}
          </span>
        {% endif %}

        {% if item.title | length %}
          <span class="mdl-list__item-title">
            <span>
              {{ item.titleicon | safe }}
              {{ item.title | safe }}
            </span>
          </span>
        {% endif %}

        {% if item.textbody | length %}
          <span class="mdl-list__item-text-body">
            {{ item.textbody | safe }}
            {% for link in item.textbodylink %}
              <a class="link" href="">{{ link }}</a>
            {% endfor %}
          </span>
        {% endif %}

        {% if item.actions | length %}
          <span class="mdl-list__item-actions">
            {{ item.actions | safe }}
          </span>
        {% endif %}
      </span>

    </span>
    {% if item.area_link %}
      <a class="mdl-list__item-area-link" href=""></a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endmacro %}


{% macro listNum(
    class= '',
    items= {
        item1: {
            class: '',
            num: '01',
            title: 'title',
            hasNewComment: false
        }
    }
) %}

<ul class="mdl-list {{ class }}">
  {% for id, item in items %}
  <li class="mdl-list__item {{ item.class or 'mdl-list__item--more-line' }}">
    <span class="mdl-list__item-primary-content">
      <span class="mdl-list__item-num">{{ item.num }}</span>
      <span class="mdl-list__item-header">
        <span class="mdl-list__item-title">
          <span>
            {{ item.title | safe }}
          </span>
        </span>
        <span class="mdl-list__item-header-icon">
          {{ sprite('comments', '0 0 1 1', 'icon -primary') }}
          96
          {% if item.hasNewComment %}
            / <a href="" class="accent">3</a>
          {% endif %}
        </span>
      </span>
    </span>
  </li>
  {% endfor %}
</ul>

{% endmacro %}