@import 'bootstrap/scss/mixins/breakpoints';

.subscribe-to-fantasy {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.06);
	border-bottom: solid 1px rgba(212, 212, 212, 0.29);
	padding: 32px 16px 40px;
	text-align: center;
	background: $white;

	.icon {
		margin-bottom: 20px;
	}

	.title {
		@include typo-h6;
		margin-bottom: 24px;
		text-align: center;
		color: $darker-grey;
	}

	.description {
		float: left;
		@include typo-body;
		color: $darker-grey;
		margin-bottom: 15px;
	}

	.delivery {
		.input-group--subscribe {
			width: 325px;
		}
		
		.title {
			@include typo-title-2;
			color: $darker-grey;
			margin-bottom: 12px;
		}
	}
}

@include media-breakpoint-up(md) {
	.subscribe-to-fantasy {
		border: solid 1px rgba(212, 212, 212, 0.29);
		padding: 29px 41px;

		.icon.-subscribe {
			float: left;
			margin-right: 45px;
			margin-bottom: 0;
		}

		.delivery {
			float: left;
			width: 388px;
		}

		.title {
			float: left;
			margin-bottom: 4px;
		}
	}
}