.enter-site-modal {
  opacity: 0.8;
  background-color: #1a2027;
  .modal-dialog {
    width: 480px;
    height: 575px;
    .modal-content {
      height: 100%;
      .modal-body {
        height: 100%;
        max-height: 100%;
        padding: 55px 60px;
        text-align: center;
        .logo-img {
          height: 46px;
          margin-bottom: 36px;
        }
        .title {
          margin-bottom: 24px;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          text-align: center;
          color: $dark-grey;
        }
        .btn {
          padding: 10px 25px;
          width: 100%;
          margin-bottom: 12px;
          color: white;
          border-radius: 4px;
          text-align: left;
          .icon {
            vertical-align: middle;
            margin-right: 16px;
            width: 26px;
            height: 26px;
          }
          &.btn-fb {
            background-color: $facebook-color;
          }
          &.btn-vk {
            background-color: $vkontakte-color;
          }
          &.btn-twitter {
            background-color: $twitter-color;
          }
        }
        .user-email {
          padding: 11px 15px;
          width: 100%;
          margin-bottom: 30px;
          border-radius: 4px;
          border: solid 1px $warm-grey;
        }
        .help-block {
          font-family: Roboto;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          text-align: right;
          color: $salmon;
        }
        .info {
          text-align: left;
          font-family: Roboto;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          color: $warm-grey-light;
        }
      }
    }
  }
}

.registration-modal {
  opacity: 0.8;
  background-color: #1a2027;
  .modal-dialog {
    width: 480px;
    height: 494px;
    .modal-content {
      height: 100%;
      .modal-body {
        height: 100%;
        max-height: 100%;
        padding: 50px 60px;

        .tab-item {
          display: none;
          &.active {
            display: block;
          }
        }


        .links {
          margin-bottom: 40px;
          .tab-link {
            float: left;
            padding: 13px 40px;
            border-bottom: 1px solid rgba(158, 158, 158, 0.27);
            font-family: Roboto;
            font-size: 23px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.39;
            color: $warm-grey-light;
            cursor: pointer;
            &.active {
              color: $dark-grey;
              border-bottom: 2px solid $cornflower-blue;
              padding-bottom: 12px;
            }
          }
        }
        .label,
        .forgot-password {
          margin-bottom: 0;
          font-family: Roboto;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          color: $warm-grey-light;
        }
        .forgot-password {
          float: right;
        }
        input {
          margin-bottom: 9px;
          padding: 5px 0;
          width: 100%;
          font-family: Roboto;
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          color: $dark-grey;
          border: none;
          outline: none;
          border-bottom:solid 1px rgba(158, 158, 158, 0.27);
          &.user-email {
            margin-bottom: 40px;
          }
          &.login {
            margin-bottom: 18px;
          }
        }
        .btn {
          margin-bottom: 0;
          font-size: 16px;
          line-height: 1.5;
          color: $white;
          text-align: center;
          padding: 11px 0;
          &.enter {
            margin-top: 82px;
          }
          &.registrate {
            margin-top: 25px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .enter-site-modal,
  .registration-modal {
    .modal-dialog {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      border-radius: 0;
      .modal-content {
        border-radius: 0;
        .modal-body {
          padding: 20px 16px;
          .links {
            .tab-link {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}