// close

.close {
  opacity: 1;
  color: $lighter-grey;
  outline: none;
  width: 16px;
  height: 16px;
  line-height: 16px;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}