// container

.editor__container {
	width: 100%;

	& {
		display: block;

		@include media-breakpoint-down(sm) {
			display: none;
		}

    &.editor__container--post--full {
      display: flex;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
	}
  
  &.is-mobile {
  	display: none;

  	@include media-breakpoint-down(sm) {
  		display: block;
  	}

    &.editor__container--post--full {
      display: none;

      @include media-breakpoint-down(sm) {
        display: flex;
      }
    }
  }

	.uk-notouch & {
		display: block;

		@include media-breakpoint-down(sm) {
			display: none;
		}

    &.editor__container--post--full {
      display: flex;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

	}
  
  .uk-notouch &.is-mobile {
  	display: none;

  	@include media-breakpoint-down(sm) {
  		display: block;
  	}

    &.editor__container--post--full {
      display: none;

      @include media-breakpoint-down(sm) {
        display: flex;
      }
    }
  }

	.uk-touch & {
		display: block;

		@include media-breakpoint-down(md) {
			display: none;
		}

    &.editor__container--post--full {
      display: flex;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
	}
  
  .uk-touch &.is-mobile {
  	display: none;

  	@include media-breakpoint-down(md) {
  		display: block;
  	}

    &.editor__container--post--full {
      display: none;

      @include media-breakpoint-down(sm) {
        display: flex;
      }
    }
  }
}

// header

.editor__header {
  margin-bottom: 16px;
  
  &.typo--header {
    height: 60px;
    padding-top: 18px;
    padding-bottom: 18px;

    @include media-breakpoint-down(sm) {
      min-height: 0;
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 18px;
      padding-bottom: 18px;
    }

    .media .author-name {
    	@include text-truncate;

    	@include media-breakpoint-down(sm) {
    		width: 100%;
    	}
    }

    .form-group {
      margin: 0;
      padding: 0;

      @include media-breakpoint-down(sm) {
        margin-top: 16px;
      }
    }
  }

  .editor__header-label {
    margin-right: 3px;
    color: $grey;
  }

  .dropdown-menu {
    width: 200px;
  }

  .dropdown-menu-right {
    right: -10px;

    @include media-breakpoint-down(sm) {
      right: -8px;
    }
  }
}

// footer

.editor__footer {
  font-size: 0;
  margin-top: 16px;
  white-space: nowrap;

  .btn {
    white-space: normal;
  }

  .btn + .btn {
    margin-left: 8px;
  }
}

// wrapper

.editor__wrapper {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.06);
  border: 1px solid $border-color-light;
  border-radius: 2px;
  padding: 12px 20px;
  background-color: #fff;

  @include media-breakpoint-down(sm) {
    padding-top: 16px;
    padding-bottom: 16px;    
  }

  .container & {
    @include media-breakpoint-down(sm) {
      border-left: none;
      border-right: none;
      border-radius: none;
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .editor__header.typo--header {
    margin-top: -12px;

    @include media-breakpoint-down(sm) {
      margin-top: -16px;
    }

    &:last-child {
      margin-bottom: -12px;
      border-bottom: none;

      @include media-breakpoint-down(sm) {
        margin-bottom: -16px;
      }
    }
  }
}

// textfield

.editor__textfield-title,
.editor__textfield-announce {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  margin-bottom: 12px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

// medium-editor

.editor__medium-editor {
  width: 100%;

  .medium-editor-element {
    @include typo-body;
    outline: none;
    border: none;

    p {
      margin: 0;
    }
  }

  .medium-editor-placeholder {
    color: $lighter-grey;

    &:after {
      font-style: normal;
    }
  }

  &.is-mobile {
    .editor__header + & {
      margin-top: -4px;
    }

    .medium-editor-toolbar {
      visibility: visible;
      background-color: $light-grey;
      border-radius: 0;
      margin-bottom: 16px;
      z-index: 1;
      
      li button {
        min-width: 36px;
        font-family: $font-family;
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        background-color: transparent;
        color: $darker-grey;
      }
    }
    
    .medium-insert-buttons {
      display: none !important;
    }
  }
}

// message editor

.editor__container--message {
  margin-top: 16px;

  @include media-breakpoint-down(sm) {
    margin-top: 4px;
  }

  .editor__medium-editor {
    .medium-editor-element {
      min-height: 96px;
    }

    &.is-mobile {
      .medium-editor-toolbar {
        margin-left: -20px;
        margin-right: -20px;
      }

      .medium-editor-toolbar li:first-of-type button {
        padding-left: 20px;
      }

      .medium-editor-toolbar li:last-of-type button {
        padding-right: 20px;
      }      
    }
  }
}

.editor-title-block {
  margin-bottom: 24px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 18px;
  }
}

// modal message editor

.editor__container--modal-message {
  .editor__medium-editor {
    .medium-editor-element {
      min-height: 140px;
    }
  }

  .editor__medium-editor.is-mobile {
    margin-top: 16px;
    
    .medium-editor-toolbar {
        margin-left: -16px;
        margin-right: -16px;
    }

    .medium-editor-toolbar li:first-of-type button {
      padding-left: 16px;
    }

    .medium-editor-toolbar li:last-of-type button {
      padding-right: 16px;
    }
  }
}

// post editor

.editor__container--post {
  margin-bottom: 12px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 4px;
  }

  .editor__textfield-title {
    @include typo-h5;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      @include typo-title;
      font-weight: 700;
    }
  }

  .editor__medium-editor {
    .medium-editor-element {
      min-height: 84px;
    }

    .medium-insert-buttons {
      margin-top: -5px !important;;
      left: -30px !important;

      .medium-insert-buttons-show {
        color: $darker-grey !important;
        border: 1px solid $darker-grey !important;
        padding: 3px !important;
      }
    }

    &.is-mobile {
      .medium-editor-toolbar {
        margin-left: -20px;
        margin-right: -20px;
      }

      .medium-editor-toolbar li:first-of-type button {
        padding-left: 20px;
      }

      .medium-editor-toolbar li:last-of-type button {
        padding-right: 20px;
      }      

      .medium-editor-insert-plugin {
        padding: 16px 0 42px;
        outline: none;
        background-color: $white;
      }

      .medium-insert-buttons {
        display: block !important;
        top: 8px !important;
        bottom: auto !important;
        
        .medium-insert-buttons-show {
          display: none !important;
        }
        
        .medium-insert-buttons-addons {
          display: block !important;
          z-index: 100;
          top: -40px!important;
          left: 260px!important;
          width: 90px;
          
          button {
            border: none;
            background: transparent;
          }
        }
      }
    }
  }

  .editor__footer {
    margin-bottom: 24px;

    .btn {
      min-width: 100px;
    }

    .btn-link {
      padding: 0;
      min-width: 0;
      color: $grey;

      .icon {
        margin-right: 10px;
        font-size: 28px;
        vertical-align: middle;
        position: relative;
        top: 3px;
      }
    }
  }
}

// full post editor

.editor__container--post--full {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .editor__header.typo--header {
    margin-top: 0;
    margin-bottom: 0;
    height: 96px;
    padding-top: 10px;
    margin-bottom: 28px;

    @include media-breakpoint-down(md) {
      min-height: 0;
      padding-top: 18px;
      padding-bottom: 18px;
      height: auto;
      margin-bottom: 24px;
    }

    @include media-breakpoint-down(sm) {
    	margin-bottom: 20px;
    }

    .btn-group,
    .editor__header-label {
      position: relative;
      top: -5px;

      @include media-breakpoint-down(md) {
        top: -11px;
      }

      @include media-breakpoint-down(sm) {
        top: 0;
      }
    }

    .form-group {
      @include media-breakpoint-down(sm) {
        margin-top: 16px;
      }
    }
  }

  .editor__wrapper {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
    padding: 0;
    flex-grow: 1;
  }

  .editor__textfield-title {
    margin-bottom: 24px;
    @include typo-h1;
    font-weight: 900;

    @include media-breakpoint-down(sm) {
      @include typo-h3;
      font-weight: 900;
      margin-bottom: 20px;
    }      
  }

  .editor__textfield-announce {
    margin-bottom: 24px;

    @include typo-h6;
    font-style: italic;

    @include media-breakpoint-down(sm) {
      @include typo-title;
      margin-bottom: 20px;
    }
  }

  .editor__medium-editor {
    .medium-editor-element {
      @include typo-body-lg;
      line-height: 1.56;
      min-height: 140px;

      @include media-breakpoint-down(sm) {
      	@include typo-body;
      }
    }

    &.is-mobile {
      .medium-editor-toolbar {
      	margin-bottom: 24px;

      	@include media-breakpoint-down(sm) {
      		margin-bottom: 20px;
      	}
      }
    }
  }

  .editor__footer {
    margin: 0;
    padding: 18px 0;

    @include media-breakpoint-down(sm) {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .row {
      align-items: center;
    }  
  }
}