.footer {
  background-color: $white;
  .content {
    padding: 32px 5px;
    .contacts {
      .title {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        color: $gray-dark;
      }
      .email {
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        color: $gray-lighter;
      }
      .social-networks {
        float: left;
        .list-item {
          float: left;
          margin-right: 24px;
        }
      }
      .logo {
        width: 155px;
      }
      .county-info {
        margin-bottom: 22px;
      }
      .footer-brand {
        display: inline-block;
        margin-bottom: 9px;
      }
    }
    .copyright {
      .footer-menu {
        column-count: 2;
        column-gap: 50px;
        .nav-link {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.75;
          color: $gray;
        }
      }
      .delivery {
        float: right;
        margin-right: 32px;
        .delivery-form {
          padding: 8px 4px;
          border-radius: 4px;
          border: solid 1px $gray-lightest;
        }
        .form-group {
          float: left;
          margin-bottom: 0;
          .form-control {
            width: 245px;
            border: none;
            border-right: solid 1px $gray-lightest;
            margin-top: 0;
          }
        }
        .btn, .form-control {
          padding: 5px 12px;
        }
        .btn-outline-secondary {
          border: none;
          color: $algae-green;
          background-color: transparent;
          outline: none;
          &:hover {
            background-color: transparent;
          }
        }
        .title {
          margin-bottom: 12px;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          color: $gray-dark;
        }
      }
      .copyright-container {
        margin-bottom: 16px;
        .copyright-text {
          display: inline-block;
          margin-bottom: 16px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          color: $gray-lighter;
        }
      }
    }
    .county-info {
      .icon.-russian {
        margin-right: 5px;
        vertical-align: middle;
      }
      .country-name {
        color: $dark-grey;
        &, &:hover, &:active {
          color: inherit!important;
        }
      }
    }
    .info {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      color: $gray-light;
    }
  }
}

@include media-breakpoint-up(md){
  .footer {
    .content {
      padding: 32px 14px;
      .contacts, .info, .copyright {
        float: left;
      }
      .contacts {
        .email {
          font-size: 14px;
          margin-bottom: 18px;
        }
        .social-networks {
          margin-bottom: 26px;
        }
      }
      .copyright {
        .footer-menu {
          float:left;
        }
        .copyright-container {
          float: right;
          margin-right: 74px;
          .copyright-text {
            font-size: 16px;
          }
        }
      }
      .info {
        font-size: 14px;
        line-height: 1.43;
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .footer {
    .container {
      padding: 0;
    }
    .content {
      padding: 32px 0;
      .contacts {
        .social-networks {
          margin-bottom: 38px;
        }
      }
      .copyright {
        margin-bottom: 16px;
        .copyright-container {
          margin-right: 18px;
          .copyright-text {
            font-size: 16px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}