.icon:before {
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	&:before {
		vertical-align: middle;
		margin: 0;
		width: auto;
	}

	&,
	& svg {
		color: $darker-grey;
	}

	& svg {
		fill: currentColor;
	}
}

.sprite.icon {
	width: 32px;
	height: 32px;

	svg {
		width: 32px;
		height: 32px;
	}

	&:before {
		display: none !important;
	}
}


// Colors

// brand primary

.icon.-comment,
.icon.-view,
.icon.-ttd-team,
.icon.-check {
	&,
	& svg {
		color: $green;
	}
}

// social

.icon.-vkontakte {
	&,
	& svg {
		color: $vkontakte-color;
	}
}

.icon.-facebook {
	&,
	& svg {
		color: $facebook-color;
	}
}

.icon.-twitter {
	&,
	& svg {
		color: $twitter-color;
	}
}

// expert

.icon.-expert {
	color: $expert-color;
	background-image: $expert-icon;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&:before {
		display: none;
	}
}

// expert2

.icon.-expert2 {
	color: $expert-color;
	background-image: $expert2-icon;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&:before {
		display: none;
	}
}


// dark grey

.icon.-down,
.icon.-up,
.icon.-video-upload,
.icon.-dark-grey {
	&,
	& svg {
		color: $dark-grey;
	}

	&.-hoverable:hover,
	&.-hoverable:hover svg,
	&.-hoverable:focus,
	&.-hoverable:focus svg {
		color: $darker-grey;
	}
}

// light silver

.icon.-more,
.icon.-close,
.icon.-marker,
.icon.-read-message,
.icon.-user,
.icon.-lock,
.icon.-gender {
	&,
	& svg {
		color: $light-silver;
	}
}

// primary

.icon.-live,
.icon.-primary {
	&,
	& svg {
		color: $green;
	}
}

// white

.icon.-white {
	&,
	& svg {
		color: $white;
	}
}

.icon.-darker-grey {
	&,
	& svg {
		color: $darker-grey;
	}

	& svg {
		fill: currentColor;
	}
}


.icon {
	&.-person {
		border-radius: 50%;
		overflow: hidden;

		&,
		& svg {
			width: 36px;
			height: 36px;
		}
	}

	&.-close {
		transition: right ease .2s;
		padding: 0;
		border: none;
		right: 0;
		z-index: 3;
		font-size: 18px;
		line-height: 1;
	
		&,
		& svg {
			width: 20px;
			height: 20px;			
		}
	}

	
	&.-search {
		transition: right ease .2s;
		padding: 0;
		border: none;
		background-color: transparent;
		z-index: 3;
		font-size: 18px;
		line-height: 1;
		
		&,
		& svg {
			width: 18px;
			height: 18px;			
		}
	}

	&.-hamburger {
		font-size: 18px;
		line-height: 1;
		text-align: center;
		border-radius: 0;
		border: none;
		
		&,
		& svg {
			width: auto;
			height: 18px;			
		}
	}
	
	&.-more {
		font-size: 10px;
		line-height: 1;
		text-align: center;
		
		&,
		& svg {
			width: auto;
			height: 22px;
		}
	}

	&.-live {
		font-size: 20px;
		line-height: 1;
		text-align: center;
		vertical-align: sup;
		
		&,
		& svg {
			width: 20px;
			height: 20px;
		}
	}

	&.-russian {
		border: solid 1px rgba(0, 0, 0, 0.11);

		background-image: $russian-icon;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 16px;
			height: 9px;			
		}
	}
	
	&.-facebook,
	&.-vkontakte,
	&.-twitter {
		font-size: 26px;
		line-height: 1;
		text-align: center;
		text-decoration: none;

		&,
		& svg {
			width: 26px;
			height: 26px;			
		}
	}
	
	&.-expert {
		font-size: 26px;
		line-height: 1;
		text-align: center;
		overflow: hidden;

		&,
		& svg {
			width: 26px;
			height: 26px;			
		}
	}
	
	&.-expert.-big {
		font-size: 20px;
		line-height: 1;
		text-align: center;
		margin-right: 10px;

		&,
		& svg {
			width: 20px;
			height: 20px;			
		}
	}
	
	&.-expert2 {
		font-size: 26px;
		line-height: 1;
		text-align: center;
		overflow: hidden;

		&,
		& svg {
			width: 26px;
			height: 26px;			
		}
	}

	&.-ttd-team {
		font-size: 26px;
		line-height: 1;
		border-radius: 4px;
		overflow: hidden;

		&,
		& svg {
			width: 26px;
			height: 26px;			
		}
	}

	&.-energy {
		font-size: 12px;
		line-height: 1;
		height: 12px;

		&,
		& svg {
			width: auto;
			height: 12px;
		}
	}
	
	&.-energy.-primary {
		font-size: 16px;
		line-height: 1;
		height: 16px;

		&,
		& svg {
			width: auto;
			height: 16px;
		}
	}
	
	&.-view {
		font-size: 8px;
		height: 8px;
		line-height: 1;
	
		&,
		& svg {
			width: auto;
			height: 8px;
		}
	}
	
	&.-comments {
		font-size: 11px;
		line-height: 1;
		height: 11px;

		&,
		& svg {
			width: auto;
			height: 11px;
		}
	}
	
	&.i-dark-arrow-left {
		transform: rotate(180deg);
		background-image: $icon-dark-arrow-left;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 12px;
			height: 12px;
		}
	}
	
	&.i-dark-arrow-right {
		background-image: $icon-dark-arrow-left;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 12px;
			height: 12px;
		}
	}

	&.-note,
	&.-notification,
	&.-notification-blank {
		font-size: 18px;
		line-height: 1;
		height: 18px;

		&,
		& svg {
			width: auto;
			height: 18px;
		}
	}

	&.-comment {
		font-size: 18px;
		line-height: 1;
		height: 18px;

		&,
		& svg {
			width: auto;
			height: 18px;
		}
	}

	&.-img-upload {
		font-size: 16px;
		line-height: 1;
		height: 16px;
		vertical-align: text-top;

		&,
		& svg {
			width: auto;
			height: 16px;
		}
	}

	&.-video-upload {
		font-size: 17px;
		line-height: 1;
		height: 17px;
		vertical-align: sub;
		margin-left: 3px;

		&,
		& svg {
			width: auto;
			height: 17px;
		}
	}

	&.-plus-small {
		font-size: 20px;
		line-height: 1;
		height: 20px;
		vertical-align: sub;
		margin-right: 7px;

		&,
		& svg {
			width: auto;
			height: 20px;
		}
	}
	
	&.-football {
		font-size: 57px;
		line-height: 1;
		height: 57px;

		&,
		& svg {
			width: auto;
			height: 57px;
		}
	}

	&.-basketball {
		font-size: 59px;
		line-height: 1;
		height: 59px;

		&,
		& svg {
			width: auto;
			height: 59px;
		}
	}

	&.-check {
		font-size: 24px;
		line-height: 1;
		height: 24px;

		&,
		& svg {
			width: auto;
			height: 24px;
		}
	}

	&.-hockey {
		font-size: 58px;
		line-height: 1;
		height: 58px;

		&,
		& svg {
			width: auto;
			height: 58px;
		}
	}

	&.-user {
		font-size: 24px;
		line-height: 1;
		height: 24px;
	}

	&.-gender {
		font-size: 24px;
		line-height: 1;
		height: 24px;

		&,
		& svg {
			width: auto;
			height: 24px;
		}
	}

	&.-marker {
		font-size: 24px;
		line-height: 1;
		height: 24px;

		&,
		& svg {
			width: auto;
			height: 24px;
		}
	}

	&.-read-message {
		font-size: 23px;
		line-height: 1;
		height: 23px;

		&,
		& svg {
			width: auto;
			height: 23px;
		}
	}

	&.-lock {
		font-size: 23px;
		line-height: 1;
		height: 23px;

		&,
		& svg {
			width: auto;
			height: 23px;
		}
	}
	
	&.-up {
		font-size: 22px;
		line-height: 1;
		height: 22px;

		&,
		& svg {
			width: auto;
			height: 22px;
		}
	}
	
	&.-down {
		font-size: 22px;
		line-height: 1;
		height: 22px;

		&,
		& svg {
			width: auto;
			height: 22px;
		}
	}

	&.-view {
		font-size: 11px;
		line-height: 1;
		height: 11px;

		&,
		& svg {
			width: auto;
			height: 11px;
		}
	}

	&.-comment {
		font-size: 13px;
		line-height: 1;
		height: 13px;

		&,
		& svg {
			width: auto;
			height: 13px;
		}
	}

	&.-subscribe {
		font-size: 117px;
		line-height: 1;
		text-align: center;
		background-image: $subscribe-icon;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 117px;
			height: 117px;
		}
	}

	&.-pencil {
		display: inline-block;
		margin-left: 10px;
		background-image: $pencil;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 18px;
			height: 18px;
		}
	}

	&.i-star {
		background-image: $icon-star-x3;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 18px;
			height: 12px;
		}
	}
	
	&.i-star-l {
		background-image: $icon-star-x3;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 20px;
			height: 20px;
		}
	}

	&.i-visa {
		background-image: $icon-visa;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 65px;
			height: 25px;
		}
	}
	
	&.i-mcard {
		background-image: $icon-mcard;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 47px;
			height: 36px;
		}
	}
	
	&.i-neteller {
		background-image: $icon-neteller;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 94px;
			height: 37px;
		}
	}
	
	&.i-pcard {
		background-image: $icon-pcard;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 142px;
			height: 45px;
		}
	}
	
	&.i-pp {
		width: 112px;
		height: 29px;
		background-image: $icon-pp;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 112px;
			height: 29px;
		}
	}

	&.i-skrill {
		background-image: $icon-skrill;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 63px;
			height: 21px;
		}
	}

	&.i-en,
	&.i-ru,
	&.i-no,
	&.i-sv,
	&.i-fi,
	&.i-de {
		display: inline-block;
		width: 32px;
		height: 32px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;		

		&:before {
			display: none;
		}

		&,
		& svg {
			width: 32px;
			height: 32px;
		}
	}
	
	&.i-en {
		background-image: $icon-en;
	}
	
	&.i-ru {
		background-image: $icon-ru;
	}
	
	&.i-no {
		background-image: $icon-no;
	}
	
	&.i-sv {
		background-image: $icon-sv;
	}

	&.i-fi {
		background-image: $icon-fi;
	}

	&.i-de {
		background-image: $icon-de;
	}

		
	&.-small {
		font-size: 16px;

		&,
		& svg {
			width: 16px;
			height: 16px;
		}		
	}

	&.-medium {
		font-size: 24px;

		&,
		& svg {
			width: 24px;
			height: 24px;
		}		
	}

	&.-large {
		font-size: 32px;

		&,
		& svg {
			width: 32px;
			height: 32px;
		}		
	}

	&.-dropdown::before {
		margin-top: -.3em;
		margin-left: .45rem;
		content: '';
		width: 8px;
		height: 8px;
		border: none;
		border-left: 1px solid $grey;
		border-bottom: 1px solid $grey;
		transform: rotate(-45deg);
		cursor: pointer;
	}

	&--prev-sm,
	&--next-sm,
	&--prev-lg,
	&--next-lg {
		width: 24px;
		height: 30px;
		border: 1px solid rgba($darker-grey, 0.15);
		border-radius: 4px;
		margin: 0;
		cursor: pointer;
		position: relative;

		&.-contrast {
			border-color: rgba($white, 0.35);
		}

		&:hover,
		&:focus {
			border-color: $darker-grey;

			&.-contrast {
				border-color: $white;
			}
		}

		&:before {
			position: absolute;
			left: 50%;
			top: 50%;
			content: '';
			width: 8px;
			height: 8px;
			margin-left: -4px;
			margin-top: -4px;
			border: none;
			border-left: 1px solid $darker-grey;
			border-bottom: 1px solid $darker-grey;
			transform: rotate(-45deg);
		}

		&.-contrast:before {
			border-left-color: $white;
			border-bottom-color: $white;
		}

		&.swiper-button-disabled {
			opacity: 0.35;
			cursor: auto;
			pointer-events: none;			
		}
	}

	&--prev-sm,
	&--prev-lg {
		&:before {
			transform: rotate(45deg);
			margin-left: -2px;
		}
	}

	&--next-sm,
	&--next-lg {
		&:before {
			transform: rotate(-135deg);
			margin-left: -7px;
		}
	}

	&--prev-lg,
	&--next-lg {
		width: 44px;
		height: 44px;

		&:before {
			width: 10px;
			height: 10px;
			margin-top: -5px;
			border-width: 2px;
		}
	}

	&--prev-lg {
		&:before {
			margin-left: -3px;
		}
	}

	&--next-lg {
		&:before {
			margin-left: -7px;
		}
	}
}