.form-group {
    .help-block {
        @include typo-caption;
        display: none;
        color: $salmon;
        float: right;
    }
    
    .field-container {
        position: relative;
    }
    
    label {
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        top: 6px;
        transition: 0.2s ease all;
        color: $grey;
    }
    
    .custom-select {
        display: block;
        width: 100%;
        background: $dropdown no-repeat;
        background-size: 3%;
        background-position: right center;
    }
    
    input,
    select {
        padding-left: 0;
        padding-right: 0;
        border: 0;
        border-bottom: 2px solid $border-color;
        border-radius: 0;
        margin-top: 30px;
    }
    
    input {
        &:focus {
            border-color: transparent;
            
            & ~ .bar {
                &:before,
                &:after {
                    width: 50%;
                }
            }
        }
        
        &:invalid {
            & ~ .bar {
                &:before,
                &:after {
                    background: $salmon;
                    width: 50%;
                }
                
                & ~ label ~ .help-block {
                    display: block;
                }
            }
        }
    }
    
    input:focus ~ label,
    input.used ~ label,
    select ~ label {
        top: -15px;
        font-size: $font-size-xs;
    }
    
    .bar {
        position: relative;
        display: block;
        width: 100%;
        
        &:before,
        &:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: $green;
            transition: 0.2s ease all;
        }
        
        &:before {
            left: 50%;
        }
        
        &:after {
            right: 50%;
        }
    }
}