// subscribe

.input-group--subscribe {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  background-color: $white;
  width: 100%;

  .form-control {
    border-color: transparent;
    padding: .69rem .75rem;
  }

  .btn {
    position: relative;
    outline: none;
    padding: .69rem 1rem;
    
    &:after {
      content: '';
      position: absolute;
      height: 30px;
      top: 50%;
      margin-top: -15px;
      left: -1px;
      border-left: 1px solid $input-border-color;
    }    
  }
}

// vote

.input-group--vote {
  height: 24px;
  border: 1px solid $border-color;
  border-radius: 3px;
  max-width: 88px;

  .form-control {
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 14px;

    &.is-positive {
      color: $green;
    }

    &.is-negative {
      color: $tomato;
    }
  }

  .input-group-btn {
    display: flex;
  }

  .btn-link {
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    padding: 0;
    border: none;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      color: $darker-grey;
    }
  }
}