.media-left {
  padding-right: 16px;
}

.media-right {
  padding-left: 16px;
}

.media-title {
  color: $darker-grey;

  a {
    color: inherit;
  }
}

// badge

.media-badge[data-badge],
.media-left--badge[data-badge] {
  text-decoration: none;
}

.media-left--badge[data-badge] {
  position: relative;
  z-index: 1;
}

.media-badge[data-badge]:after,
.media-left--badge[data-badge]:after {
  content: attr(data-badge);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include typo-body-sm;
  width: $avatar-size-5;
  height: $avatar-size-5;
  min-width: $avatar-size-5;
  border-radius: 100px;
  color: $grey;
  border: 1px solid $border-color;
}

.media--author-lg .media-left--badge[data-badge]:after {
  width: $avatar-size-3;
  height: $avatar-size-3;
  min-width: $avatar-size-3;
  @include typo-body-lg;
}

.media--author-lg.media--responsive .media-left--badge[data-badge]:after {
  @include media-breakpoint-down(md) {
    width: $avatar-size-4;
    height: $avatar-size-4;
    min-width: $avatar-size-4;
  }
}

.media--author-lg ~ .media-badge[data-badge]:after {
    width: $avatar-size-3;
    height: $avatar-size-3;
    min-width: $avatar-size-3;
    @include typo-body-lg;
}

.media--author-lg.media--responsive ~ .media-badge[data-badge]:after {
  @include media-breakpoint-down(md) {
    width: $avatar-size-4;
    height: $avatar-size-4;
    min-width: $avatar-size-4;
  }
}

.media-left--badge[data-badge]:after {
  position: relative;
  z-index: -1;
  margin-left: -10px;
  margin-right: -3px;

}

.media--author .avatar + .avatar,
.media-left--badge .avatar + .avatar {
  margin-left: -10px;
}

// author

.media--author {
  .media-left {
    padding-right: 12px;
  }

  .media-right {
    padding-left: 12px;
  }

  &.is-online .media-left,
  &.is-offline .media-left {
    position: relative;
    align-self: flex-start;
  }
  
  &.is-online .media-left:after,
  &.is-offline .media-left:after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: -2px;
    width: 12px;
    height: 12px;
    background-color: $dark-grey;
    border: solid 2px $white;
    border-radius: 6px;
  }

  &.is-online .media-left:after {
    background-color: $green;
  }   

	.media-object.avatar {
		display: inline-block;
    width: $avatar-size-5;
    height: $avatar-size-5;
    min-width: $avatar-size-5;
	}

	.author-name {
	  display: block;
    color: $darker-grey;

	  a {
	    color: inherit;
	  }
	}

  .time,
  .sub-title {
  	display: block;
  	@include typo-caption;
  	color: $grey;
  }
}

// add author

.media--author--add {
  .avatar {
    color: $grey;
    border: 1px solid $lighter-grey;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &:before {
      border-top: 2px solid $grey;
      width: 18px;
      margin-top: -1px;
      margin-left: -9px;
    }

    &:after {
      border-left: 2px solid $grey; 
      height: 18px;
      margin-top: -9px;
      margin-left: -1px;
    }
  }

  .author-name {
    color: $grey;
  }
}

// large size

.media--author-lg {
  .media-left {
    padding-right: 16px;
  }

  .media-right {
    padding-left: 16px;
  }

  &.is-online .media-left:after,
  &.is-offline .media-left:after {
    right: 16px;
    bottom: 0;
  }

  .media-object.avatar {
    width: $avatar-size-3;
    height: $avatar-size-3;   
    min-width: $avatar-size-3;
  }

  .time,
  .sub-title {
    @include typo-body-sm;
    line-height: 1.14;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  &.media--responsive {
    .media-object.avatar {
      @include media-breakpoint-down(md) {
        width: $avatar-size-4;
        height: $avatar-size-4;
        min-width: $avatar-size-4;
      }
    }
  }
}

// recommended post

.media--recommended-post {
  .media-left {
    padding-right: 16px;
  }

  .media-right {
    padding-right: 16px;
  }
  
  .media-title {
    @include typo-title-2;
    font-weight: 500;
    line-height: 1.25;
  }
}

// list

.media-list {
  @include list-unstyled;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;

  .media {
    padding-bottom: 20px;

    @include media-breakpoint-down(md) {
      padding-bottom: 18px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 16px;
    }
  }
}

// item

.media--list-item {
  .media-left {
    padding-right: ($list-avatar-text-left-distance - $list-avatar-size);

    @include media-breakpoint-down(md) {
      padding-right: ($list-avatar-text-left-distance-md - $list-avatar-size-md);
    }
  }

  .media-right {
    padding-left: ($list-avatar-text-left-distance - $list-avatar-size);

    @include media-breakpoint-down(md) {
      padding-left: ($list-avatar-text-left-distance-md - $list-avatar-size-md);
    }
  }

  .media-object.avatar {
    width: $list-avatar-size;
    height: $list-avatar-size;
    min-width: $list-avatar-size; 

    @include media-breakpoint-down(md) {
      width: $list-avatar-size-md;
      height: $list-avatar-size-md;
      min-width: $list-avatar-size-md; 
    }
  }
}