// navigation

.navigation {
  display: flex;
  flex-wrap: nowrap;
}

// link

.navigation__link {
  position: relative;
  color: $grey;
  text-decoration: none;
  margin: 0;
  padding: 0 12px;
  height: 56px;
  line-height: 56px;
  font-family: Arial, sans-serif;
  
  // .fonts-loaded & {
    font-family: $font-family;
  // }

  font-weight: 400;
  font-size: $font-size-lg;
  text-transform: none;
  color: $grey;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base;
  }

  &:hover,
  &:focus {
    color: $darker-grey;
    text-decoration: none;
  }

  &.active {
    font-weight: 500;
  }

  &.active,
  &.active:hover,
  &.active:focus {
    color: $darker-grey;
  }

  & .icon {
    vertical-align: middle;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: $blue;
    display: none;

    .navigation--sm & {
      left: 12px;
      right: 12px;
      width: auto;
    }
  }

  &.active:after {
    display: block;
  }

  .navigation--sm & {
    height: 46px;
    line-height: 46px;
    font-size: $font-size-sm;
  }
} 
