// header

.page-header {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  padding: 28px 0;
  margin-bottom: 28px;
  line-height: normal;
  display: block;
  height: auto;

  @include media-breakpoint-down(md) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;
  }

  .post-header-top {
    margin-top: -28px;
    margin-bottom: 22px;

    @include media-breakpoint-down(md) {
      margin-top: -24px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: -16px;
      margin-bottom: 16px;
    }
  }
}

// action

.page-header__action {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .page-header__row & {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > .btn {
    min-width: 136px;
  }

  &--abs {
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);      
      margin-top: 0;
      margin-bottom: 0;
    }

    .row & {
      @include media-breakpoint-up(lg) {
        right: 10px;
      }
    }
  }

  .typo--caption {
    color: $grey;
    line-height: 40px;

    @include media-breakpoint-down(sm) {
      line-height: normal;
    }
  }

  .btn ~ .typo--caption {
    margin-left: 20px;
    margin-right: 20px;      

    @include media-breakpoint-down(md) {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}

// title

.page-header__title {
  @include typo-h1;
  font-weight: 900;
  text-transform: uppercase;
  color: $darker-grey;
  margin: 0;

  @include media-breakpoint-down(sm) {
    @include typo-h3;
    font-weight: 900;
  }

  &--no-transform {
    text-transform: none;
  }
}

// sub-title

.page-header__sub-title {
  @include typo-h6;
  font-weight: 400;
  font-style: italic;
  color: $grey;
  margin: 8px 0 0 0;;

  @include media-breakpoint-down(md) {
    margin-top: 3px;
    margin-bottom: 9px;
  }

  @include media-breakpoint-down(sm) {
    @include typo-body;
    line-height: 1.25;
    margin-top: 6px;
  }
}

// textfield

.page-header__textfield {
  padding-top: 0;
  padding-bottom: 0;

  .mdl-textfield__input {
    padding-top: 0;
    padding-bottom: 0;
    @include typo-h1;
    font-weight: 900;
    color: $darker-grey;

    @include media-breakpoint-down(sm) {
      @include typo-h3;
      font-weight: 900;
    }
  }  

  &.mdl-textfield--has-icon .mdl-textfield__input {
    padding-left: 40px;
  }

  &.mdl-textfield--has-icon .mdl-textfield__icon {
    left: 8px;
    top: .3rem;
  }

  .mdl-textfield__label {
    @include typo-h1;
    font-weight: 400;
    top: 0;

    @include media-breakpoint-down(sm) {
      @include typo-h3;
      font-weight: 400;
    }

    &:after {
      bottom: 0;
    }
  }
}

// row

.page-header__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0;

  @include media-breakpoint-down(md) {
    height: 52px;
  }

  & > * {
    flex-shrink: 0;
  }

  & .navigation {
    margin: 0;
    padding: 0;
    height: 56px;
    flex-direction: row;
    align-items: center;

    @include media-breakpoint-down(md) {
      height: 52px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: -12px;
    }
  }

  & .navigation__link {
    display: block;

    &:after {
      bottom: -1px;
    }
  }

  & .mdl-tabs__tab-bar {
    margin: 0;
    padding: 0;
    height: 56px;
    flex-direction: row;
    align-items: center;
    border-bottom-color: transparent;

    @include media-breakpoint-down(md) {
      height: 52px;
    }
  }

  & .mdl-tabs__tab {
    display: block;
  }

  &--bottom {
    margin-bottom: -28px;

    @include media-breakpoint-down(md) {
      margin-bottom: -24px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: -16px;
    }
  }
}

// space

.page-header-space {
  flex-grow: 1;
}