.pagination {
  display: flex;
  margin: 0 17px 20px;
  
  &_item {
    border: 1px solid $light-silver;
    font-size: $font-size-lg;
    line-height: 1;
    border-radius: 4px;
    padding: 7px;
    margin-right: 4px;
    min-width: 24px;
    text-align: center;
    color: $darker-grey;

    &:hover,
    &.active {
      text-decoration: none;
      color: inherit;
    }

    &.prev {
      &::before {
        content: '';
        @include arrow(left, 6px, 2px, $darker-grey);
      }
    }
    
    &.next {
      &::before {
        content: '';
        @include arrow(right, 6px, 2px, $darker-grey);
      }
    }
    
    &.active {
      pointer-events: none;
      cursor: default;
      border: none;
      background-color: $darker-grey;
      color: $white;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      color: $dark-grey;
    }
  }
}