// textfield

.mdl-textfield--lg {
  font-size: $input-text-font-size-lg;
  padding-top: $input-text-vertical-spacing-lg;
  padding-bottom: $input-text-vertical-spacing-lg;

  & .mdl-button {
    bottom: $input-text-vertical-spacing-lg;
  }
}

// input

.mdl-textfield__input {
  font-family: Arial, sans-serif;

  // .fonts-loaded & {
    font-family: $font-family;
  // }

  .mdl-textfield--lg & {
    font-size: $input-text-font-size-lg;
    padding-top: $input-text-padding-lg;
    padding-bottom: $input-text-padding-lg;
  }
}

.mdl-textfield-my-0 {
  margin-top: -$input-text-vertical-spacing;
  margin-bottom: -$input-text-vertical-spacing;
}

.mdl-textfield-mt-0 {
  margin-top: -$input-text-vertical-spacing;
}

.mdl-textfield-mb-0 {
  margin-top: -$input-text-vertical-spacing;
}

// label

.mdl-textfield-label {
  display: inline-block;
  font-size: $input-text-floating-label-fontsize;
  line-height: 1.2;
  color: $grey;
  margin-bottom: 10px;

  &--lg {
    font-size: $input-text-floating-label-fontsize-lg;
  }
}

.mdl-textfield__label {
  margin-bottom: 0;
  
  .mdl-textfield--lg & {
    font-size: $input-text-font-size-lg;
    top: ($input-text-padding-lg + $input-text-vertical-spacing-lg);
  }

  .mdl-textfield--floating-label.is-focused &,
  .mdl-textfield--floating-label.is-dirty &,
  .mdl-textfield--floating-label.has-placeholder & {
    color: $grey;
  }

  .mdl-textfield--lg.mdl-textfield--floating-label.is-focused &,
  .mdl-textfield--lg.mdl-textfield--floating-label.is-dirty &,
  .mdl-textfield--lg.mdl-textfield--floating-label.has-placeholder & {
    font-size : $input-text-floating-label-fontsize-lg;
    top: $input-text-vertical-spacing-lg - ($input-text-floating-label-fontsize-lg + $input-text-padding-lg);
  }

  .mdl-textfield--lg.mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder &,
  .mdl-textfield--lg.mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder &,
  .mdl-textfield--lg.mdl-textfield--floating-label.has-placeholder .mdl-textfield__expandable-holder & {
    top: -($input-text-floating-label-fontsize-lg + $input-text-padding-lg);
  }

  .mdl-textfield--lg.mdl-textfield--floating-label.is-invalid & {
    font-size: $input-text-floating-label-fontsize-lg;
  }

  .mdl-textfield--lg &:after {
    bottom: $input-text-vertical-spacing-lg;
  }
}

// help

.mdl-textfield__help {
  color: $input-text-label-color;
  position: absolute;
  font-size: $font-size-sm;
  margin-top: 10px;
  visibility: visible;
  display: block;
  right: 0;

  a {
    color: inherit;
  }

  .mdl-textfield--lg & {
    font-size: $font-size-sm;
  }
}

// error

.mdl-textfield__error {
  right: 0;

  .mdl-textfield--lg & {
    font-size: $input-text-floating-label-fontsize;
  }
}

// has icon

.mdl-textfield--has-icon {
  .mdl-textfield__icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    &,
    & svg {
      width: 18px;
      height: 18px;
    }
  }

  &.is-focused .mdl-textfield__icon {
    &,
    & svg {
      color: $green;
    }
  }

  .mdl-textfield__input {
    padding-left: 36px;
  }

  .mdl-textfield__label {
    padding-left: 36px;
  }
}

// transparent

.mdl-textfield--transparent {
  .mdl-textfield__input {
    border-bottom-color: transparent;
  }

  .mdl-textfield__label:after {
    display: none;
  }
}