{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/messages/message-button-container.html" as buttonContainer %}
{% import "items/messages/message-items.html" as messageItems %}
{% import "items/posts/posts-list.html" as postItems %}
{% import "items/tabs/tabs.html" as tabs %}

{% block pageClass %}{{ 'has-message-button' }}{% endblock %}

{% block content %}
    <div class="mdl-tabs mdl-tabs--lg is-upgraded">
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header__row">
                            <h1 class="page-header__title">
                                Блоги
                            </h1>
                            <div class="page-header-space"></div>
                            <div class="page-header__action page-header__action--abs">
                                <a class="btn btn-primary btn-alt btn-sm btn-higher hidden-sm-down btn-responsive" href="">Создать блог</a>
                            </div>
                        </div>
                        <div class="page-header__row page-header__row--bottom">
                            {{tabs.pageTabs(
                                items = {
                                    item0: {
                                        id: 0,
                                        class: 'is-active',
                                        title: 'Все блоги'
                                    },
                                    item1: {
                                        id: 1,
                                        class: '',
                                        title: 'Все посты'
                                    },
                                    item2: {
                                        id: 2,
                                        class: '',
                                        title: 'Лучшие посты'
                                    }
                                }
                            )}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-section" id="page_tabs_container">
                    <div class="mdl-tabs__panel is-active">
                        <div class="message-wrapper">
                            {{ messageItems.blogMessageItems(hasAction=false) }}
                        </div>
                        {% include "items/pagination/pagination.html" %}
                    </div>
                    <div class="mdl-tabs__panel">
                        {{ postItems.postsList(hasAction=false) }}
                        {% include "items/pagination/pagination.html" %}
                    </div>
                    <div class="mdl-tabs__panel">
                        {{ postItems.postsList(hasAction=false) }}
                        {% include "items/pagination/pagination.html" %}
                    </div>
                    <aside class="col-side">
                        {% include "items/panel/panel-component_beginner-profi-play-forum_side.html" %}
                    </aside>
                </div>
            </div>
        </div>
        {{buttonContainer.messageButtonContainer(
            class='',
            button_attribute='',
            button_text='Создать блог'
        )}}
    </div>
{% endblock %}

{% block modal %}
    {% include "items/modals/modal_list_coauthor.html" %}
{% endblock %}