{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Avatar</div>
    <br>
	<img class="avatar avatar--size-1" src="http://placehold.it/96x96" alt="" width="96" height="96">
	<img class="avatar avatar--size-2" src="http://placehold.it/76x76" alt="" width="76" height="76">
	<img class="avatar avatar--size-3" src="http://placehold.it/46x46" alt="" width="46" height="46">
	<img class="avatar avatar--size-4" src="http://placehold.it/40x40" alt="" width="40" height="40">
	<img class="avatar avatar--size-5" src="http://placehold.it/36x36" alt="" width="36" height="36">
	<img class="avatar avatar--size-6" src="http://placehold.it/32x32" alt="" width="32" height="32">
</div>

{% endblock %}