{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Page header</div>
    <br>
</div>
<div class="page-header">
	<div class="container">
    	<h1 class="page-header__title">Площадки</h1>
    </div>
</div>
<div class="mdl-tabs is-upgraded">
    <div class="page-header">
    	<div class="container">
    	    <h1 class="page-header__title">Стратегии</h1>
            <div class="page-header__row page-header__row--bottom">
                <div class="swiper-container js-swiper-container-tabs mdl-tabs__bar-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="mdl-tabs__tab-bar" data-uk-switcher="{ connect: '#page_tabs_container' }" data-connect="#page_tabs_container">
                                <span class="mdl-tabs__tab is-active" data-uk-switcher-item="0">Все блоги</span>
                                <span class="mdl-tabs__tab" data-uk-switcher-item="1">Все посты</span>
                                <span class="mdl-tabs__tab" data-uk-switcher-item="2">Лучшие посты</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mdl-tabs is-upgraded">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header__row">
                        <h1 class="page-header__title">
                            Блоги
                        </h1>
                        <div class="page-header-space"></div>   
                        <div class="page-header__action page-header__action--abs">
                            <a class="btn btn-primary btn-alt btn-sm btn-higher hidden-sm-down  btn-responsive" href="">Создать блог</a>
                        </div>
                    </div>
                    <div class="page-header__row page-header__row--bottom">
                        <div class="swiper-container js-swiper-container-tabs mdl-tabs__bar-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="mdl-tabs__tab-bar" data-uk-switcher="{ connect: '#page_tabs_container' }" data-connect="#page_tabs_container">
                                        <span class="mdl-tabs__tab is-active" data-uk-switcher-item="0">Все блоги</span>
                                        <span class="mdl-tabs__tab" data-uk-switcher-item="1">Все посты</span>
                                        <span class="mdl-tabs__tab" data-uk-switcher-item="2">Лучшие посты</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}