{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/list/list.html" as list %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">List</div>
    <br>
    <div class="typo--h4">Recommended to read</div>
    {% include 'items/list/list_recommended-to-read.html' %}
    <div class="typo--h4">Expert</div>
    {% include 'items/list/list_expert.html' %}
    <div class="typo--h4">Other posts</div>
    {% include 'items/list/list_other_posts.html' %}
    <div class="typo--h4">Forum</div>
    {% include 'items/list/list_forum.html' %}
    <div class="typo--h4">Twitter</div>
    {% include 'items/list/list_twitter.html' %}
    <div class="typo--h4">Tools</div>
    {% include 'items/list/list_tools.html' %}
    <div class="typo--h4">Beginner</div>
    {% include 'items/list/list_beginner.html' %}
    <div class="typo--h4">Profi</div>
    {% include 'items/list/list_profi.html' %}
    <div class="typo--h4">Play</div>
    {% include 'items/list/list_play.html' %}
    <div class="typo--h4">Play large</div>
    {% include 'items/list/list_play_lg.html' %}
    <div class="typo--h4">Playground</div>
    {% include 'items/list/list_playground.html' %}
    <div class="typo--h4">Author</div>
    {% include 'items/list/list_author.html' %}
</div>

{% endblock %}