{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/tabs/tabs.html" as tabs %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Page header</div>
    <br>
</div>
<div class="page-header">
	<div class="container">
    	<h1 class="page-header__title">Площадки</h1>
    </div>
</div>
<div class="mdl-tabs is-upgraded">
    <div class="page-header">
    	<div class="container">
    	    <h1 class="page-header__title">Стратегии</h1>
            <div class="page-header__row page-header__row--bottom">
                {{tabs.pageTabs(
                    items = {
                        item0: {
                            id: 0,
                            class: 'is-active',
                            title: 'Все блоги'
                        },
                        item1: {
                            id: 1,
                            class: '',
                            title: 'Все посты'
                        },
                        item2: {
                            id: 2,
                            class: '',
                            title: 'Лучшие посты'
                        }
                    }
                )}}
            </div>
        </div>
    </div>
</div>
<div class="mdl-tabs is-upgraded">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header__row">
                        <h1 class="page-header__title">
                            Блоги
                        </h1>
                        <div class="page-header-space"></div>   
                        <div class="page-header__action page-header__action--abs">
                            <a class="btn btn-primary btn-alt btn-sm btn-higher hidden-sm-down btn-responsive" href="">Создать блог</a>
                        </div>
                    </div>
                    <div class="page-header__row page-header__row--bottom">
                        {{tabs.pageTabs(
                            items = {
                                item0: {
                                    id: 0,
                                    class: 'is-active',
                                    title: 'Все блоги'
                                },
                                item1: {
                                    id: 1,
                                    class: '',
                                    title: 'Все посты'
                                },
                                item2: {
                                    id: 2,
                                    class: '',
                                    title: 'Лучшие посты'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}