{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Typography</div>
    <br>
	<h1 class="typo--h1">Dispal 1</h1>
	<h2 class="typo--h2">Display 2</h2>
	<h3 class="typo--h3">Header 1</h3>
	<h4 class="typo--h4">Title 1</h4>
	<h5 class="typo--h5">Title 2</h5>
	<h6 class="typo--h6">Title 3</h6>
	<p class="typo--title">Title</p>
	<p class="typo--title-2">Title2</p>
	<div class="typo--body-lg">
	    <p>Body large</p>
	</div>
	<div class="typo--body">
	    <p>Body default</p>
	</div>
	<div class="typo--body-sm">
	    <p>Body small</p>
	</div>
	<div class="typo--caption">
	    Caption
	</div>
	<div class="typo--header">
		<h6 class="typo--title">
			Наши эксперты
		</h6>
	</div>
	<div class="typo--header">
		<h6 class="typo--title">
			<i class="icon -expert"></i>
			Наши эксперты
		</h6>
	</div>
	<div class="typo--header">
		<h6 class="typo--title">
			<i class="icon -expert"></i>
			Наши эксперты
		</h6>
		<div class="typo--header-space"></div>
		<div class="typo--header__actions">
		    <span class="typo--header__actions-title">Что это такое?</span>
		    <i class="icon icon--prev-sm"></i>
		    <i class="icon icon--next-sm"></i>
		</div>
	</div>
	<div class="mdl-tabs mdl-js-tabs">
		<div class="typo--header">
			<h6 class="typo--h6">
				Горячие турниры фентези спорта
			</h6>
			<div class="typo--header-space"></div>
	        <div class="swiper-container js-swiper-container-tabs mdl-tabs__bar-container typo--header__tab-bar-container">
	            <div class="swiper-wrapper mdl-tabs__tab-bar mdl-tabs__tab-bar--sm typo--header__tab-bar">
					<a href="#tab-1" class="mdl-tabs__tab is-active">Рекомендуемые</a>
					<a href="#tab-2" class="mdl-tabs__tab ">Бесплатные</a>
					<a href="#tab-3" class="mdl-tabs__tab ">На деньги</a>
	            </div>
	            <div class="swiper-scrollbar"></div>
	        </div>
		</div>
		<div class="mdl-tabs__panel is-active" id="tab-1"></div>
		<div class="mdl-tabs__panel" id="tab-2">2</div>
		<div class="mdl-tabs__panel" id="tab-3">3</div>
	</div>
</div>
{% endblock %}