{% extends 'layouts/application.html' %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h3 class="h3">Slider</h3>
    <br>
</div>
{% include 'items/sliders/slider-tournament.html' %}
{% include "items/sliders/slider-wide_promo.html" %}
<br>
<div class="container">
	{% include 'items/sliders/slider-cards.html' %}
	<br>
	{% include 'items/sliders/slider-plays.html' %}
	<br>
	{% include 'items/sliders/news-from-fantasy-world.html' %}
	<br>
	{% include 'items/sliders/recommended-to-read.html' %}
</div>
<br>
{% include 'items/sliders/slider-plays_wide.html' %}
<br>
<br>

{% endblock %}