{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/navbar/navbar-header.html" as navbar %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Navbar</div>
    <br>
    <div class="typo--h4">Header</div>
    <br>
</div>
{{navbar.header(
  class='',
  loggedIn=false
)}}
<div class="container">
    <br>
    <br>
    <div class="typo--h4">Header logged</div>
    <br>
</div>
{{navbar.header(
  class='',
  loggedIn=true
)}}

{% endblock %}