{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/posts/post-item.html" as item %}
{% import "items/posts/posts-control.html" as postscontrol %}
{% import "items/posts/posts-list.html" as postsList %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Post</div>
    <br>
	<div class="typo--h4">Control</div>
	<br>
	{{postscontrol.postscontrol(
	    class = '',
	    title = 'В центре внимания',
	    title2 = 'Лента событий',
	    label = 'Все посты',
	    content_choose = choose,
	    content_all = all
	)}}
    <br>
    <br>
	<div class="typo--h4">Write</div>
	<br>
	{% include "items/posts/post-write.html" %}
    <br>
    <br>
	<div class="typo--h4">Item</div>
	<br>
    {{item.post(
        title='<a href="">Mathmen</a> / <a href="">Обновленная платформа и другие новости FanTeam</a>',
        description='Какие изменения ждут FanTeam в ближайшие несколько недель.',
        user_ava='/images/users/userpic-8@3x.png',
        info_user='FanTeam',
        info_time='1 час назад',
        image='/images/content/bitmap@3x.jpg',
        hasNewComment=true
    )}}    
    <br>
    <br>
	<div class="typo--h4">Items</div>
	<br>
    {{ postsList.postsList(
        hasAction = false
    ) }}
    <br>
    <br>
	<div class="typo--h4">Items actions</div>
	<br>
    {{ postsList.postsList(
        hasAction = true
    ) }}
</div>

{% endblock %}