{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Select field</div>
    <br>
    <div class="typo--h4">Default</div>
    <br>
	<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
	    <select class="mdl-selectfield__select" id="sample4">
	        <option value="" data-hidden="true"></option>
	        <option value="option1">Мужской</option>
	        <option value="option2">Женский</option>
	    </select>
	    <div class="mdl-selectfield__icon"><i class="icon -dropdown"></i></div>
	    <label class="mdl-selectfield__label" for="sample4">Пол</label>
	</div>
	<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label mdl-selectfield--lg">
	    <select class="mdl-selectfield__select" id="sample4-1">
	        <option value="" data-hidden="true"></option>
	        <option value="option1">Мужской</option>
	        <option value="option2">Женский</option>
	    </select>
	    <div class="mdl-selectfield__icon"><i class="icon -dropdown"></i></div>
	    <label class="mdl-selectfield__label" for="sample4-1">Пол</label>
	</div>
	<br>
	<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
	    <select class="mdl-selectfield__select" id="sample5">
	        <option value="" data-hidden="true"></option>
	        <option value="option1" selected="selected">Мужской</option>
	        <option value="option2">Женский</option>
	    </select>
	    <div class="mdl-selectfield__icon"><i class="icon -dropdown"></i></div>
	    <label class="mdl-selectfield__label" for="sample5">Пол</label>
	</div>
	<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label mdl-selectfield--lg">
	    <select class="mdl-selectfield__select" id="sample5-1">
	        <option value="" data-hidden="true"></option>
	        <option value="option1" selected="selected">Мужской</option>
	        <option value="option2">Женский</option>
	    </select>
	    <div class="mdl-selectfield__icon"><i class="icon -dropdown"></i></div>
	    <label class="mdl-selectfield__label" for="sample5-1">Пол</label>
	</div>
	<br>
	<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label is-invalid">
	    <select class="mdl-selectfield__select" id="sample6">
	        <option value="" data-hidden="true"></option>
	        <option value="option1" selected="selected">Мужской</option>
	        <option value="option2">Женский</option>
	    </select>
	    <div class="mdl-selectfield__icon"><i class="icon -dropdown"></i></div>
	    <label class="mdl-selectfield__label" for="sample6">Пол</label>
	    <span class="mdl-selectfield__error">Ошибка</span>
	</div>
	<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label  is-invalid mdl-selectfield--lg">
	    <select class="mdl-selectfield__select" id="sample6-1">
	        <option value="" data-hidden="true"></option>
	        <option value="option1" selected="selected">Мужской</option>
	        <option value="option2">Женский</option>
	    </select>
	    <div class="mdl-selectfield__icon"><i class="icon -dropdown"></i></div>
	    <label class="mdl-selectfield__label" for="sample6-1">Пол</label>
	    <span class="mdl-selectfield__error">Ошибка</span>
	</div>
	<br>
    <br>
    <div class="typo--h4">Full width</div>
    <br>
	<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label mdl-selectfield--full-width">
	    <select class="mdl-selectfield__select" id="sample7">
	        <option value="" data-hidden="true"></option>
	        <option value="option1">Мужской</option>
	        <option value="option2">Женский</option>
	    </select>
	    <div class="mdl-selectfield__icon"><i class="icon -dropdown"></i></div>
	    <label class="mdl-selectfield__label" for="sample7">Пол</label>
	</div>
</div>
{% endblock %}