{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/dropdown/dropdown.html" as dropdown %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Dropdown</div>
    <br>
    <div class="typo--h4">Default</div>
    <br>
	<div class="dropdown">
	    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Default
	    </a>
	    <div class="dropdown-menu">
	        <a class="dropdown-item" href="">
	            Эксперты
	        </a>
	        <a class="dropdown-item" href="">
	            Блоги
	        </a>
	        <div class="dropdown-divider"></div>
	        <a class="dropdown-item" href="">
	            Форум
	        </a>
	    </div>
	</div>
    <br>
    <br>
    <div class="typo--h4">Menu air</div>
    <br>
	<div class="dropdown">
	    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Menu air
	    </a>
	    <div class="dropdown-menu dropdown-menu--air">
	        <a class="dropdown-item" href="">
	            Эксперты
	        </a>
	        <a class="dropdown-item" href="">
	            Блоги
	        </a>
	        <div class="dropdown-divider"></div>
	        <a class="dropdown-item" href="">
	            Форум
	        </a>
	    </div>
	</div>
    <br>
    <br>
    <div class="typo--h4">Menu bordered</div>
    <br>
	<div class="dropdown">
	    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Menu bordered
	    </a>
	    <div class="dropdown-menu dropdown-menu--bordered">
	        <a class="dropdown-item" href="">
	            Эксперты
	        </a>
	        <a class="dropdown-item" href="">
	            Блоги
	        </a>
	        <div class="dropdown-divider"></div>
	        <a class="dropdown-item" href="">
	            Форум
	        </a>
	    </div>
	</div>
    <br>
    <br>
    <div class="typo--h4">Menu note</div>
    <br>
	<div class="dropdown">
	    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Menu note
	    </a>
		{{ dropdown.dropdownMenuNote() }}
	</div>
    <br>
    <br>
    <div class="typo--h4">Menu new post</div>
    <br>
	<div class="dropdown">
	    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Menu new post
	    </a>
		{{ dropdown.dropdownMenuNewPost() }}
	</div>
    <br>
    <br>
    <div class="typo--h4">Menu user</div>
    <br>
	<div class="dropdown">
	    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Menu user
	    </a>
		{{ dropdown.dropdownMenuUser() }}
	</div>
    <br>
    <br>
    <div class="typo--h4">Best matches</div>
    <br>
	<div class="dropdown">
	    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Best matches
	    </a>
		{{ dropdown.dropdownMenuBestMatches() }}
	</div>
</div>
{% endblock %}