{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/experts/expert.html" as expert %}

{% set iconExpert %}
    <i class="icon -expert"></i>
{% endset %}

{% set iconTeam %}
    {{ sprite('ttd-team', '0 0 1 1', 'icon') }}
{% endset %}

{% set iconsTeamExpert %}
    {{ sprite('ttd-team', '0 0 1 1', 'icon') }}
    <i class="icon -expert"></i>
{% endset %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Expert</div>
    <br>
    <div class="typo--h4">Description</div>
    <br>
    {% include "items/experts/expert-description.html" %}
    <br>
    <br>
    <div class="typo--h4">Item</div>
    <br>
    {{ expert.expertItem(
        user_ava={ src: 'http://placehold.it/96x96', width: '96', height: '96' },
        user_icons=iconExpert,
        user_name='stishenok',
        user_desc='Опыт игры в Fantasy — более 10 лет. Двукратный чемпион Беларуси, чемпион России в FPL. Входит в 400 лучших игроков в истории турнира.',
        user_spec='Специализация: NBA'
    )}}
    <br>
    <br>
    <div class="typo--h4">Items</div>
    <br>
    {% include "items/experts/expert-items.html" %}
</div>

{% endblock %}