{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Panel</div>
    <br>
	<div class="typo--h4">Wide</div>
	<br>
</div>
{% include "items/panel/panel-component_tw-ex-tls.html" %}
<div class="container">
    <br>
	<br>
	<div class="typo--h4">Side</div>
	<br>
	<div class="row">
		<div class="col-sm-12 col-md-4">
			{% include "items/panel/panel-component_play-forum-expert_side.html" %}
		</div>
	</div>	
</div>
{% endblock %}