{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Breadcrumb</div>
    <br>
    <div class="typo--h4">Default</div>
    <br>
    <div class="breadcrumb">
      <a class="breadcrumb-item" href="#">Item1</a>
      <a class="breadcrumb-item" href="#">Item2</a>
      <a class="breadcrumb-item" href="#">Item3</a>
      <span class="breadcrumb-item active">Item active</span>
    </div>
    <br>
    <div class="breadcrumb breadcrumb--lg">
      <a class="breadcrumb-item" href="#">Item1</a>
      <a class="breadcrumb-item" href="#">Item2</a>
      <a class="breadcrumb-item" href="#">Item3</a>
      <span class="breadcrumb-item active">Item active</span>
    </div>
</div>
{% endblock %}