{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h3 class="h3">Icon</h3>
    <br>
	{{ sprite('person', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('basketball', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('check', '0 0 1 1', 'icon -darker-grey -medium') }}
	<!-- {{ sprite('close', '0 0 1 1', 'icon -darker-grey -medium') }} -->
	{{ sprite('comment', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('comments', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('down', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('energy', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('facebook', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('football', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('gender', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('hamburger', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('hockey', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('img-upload', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('lock', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('marker', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('note', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('notification', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('notification-blank', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('more', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('plus-small', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('read-message', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('search', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('ttd-team', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('twitter', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('up', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('user', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('video-upload', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('view', '0 0 1 1', 'icon -darker-grey -medium') }}
	{{ sprite('vkontakte', '0 0 1 1', 'icon -darker-grey -medium') }}
	<i class="icon -expert"></i>
	<i class="icon -expert2"></i>
	<i class="icon -subscribe"></i>
	<i class="icon -russian"></i>
	<i class="icon -dropdown"></i>
	<i class="icon icon--prev-sm"></i>
	<i class="icon icon--next-sm"></i>
	<i class="icon icon--prev-lg"></i>
	<i class="icon icon--next-lg"></i>
</div>

<br>
<br>
<br>

{% endblock %}