{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Label</div>
    <br>
	<a class="label label--type news" href="">news</a>
	<a class="label label--type profi" href="">profi</a>
	<a class="label label--type action" href="">action</a>
	<a class="label label--type strategy" href="">strategy</a>
	<a class="label label--type podcast" href="">podcast</a>
	<a class="label label--type outline" href="">outline</a>
	<a class="label label--type newbie" href="">newbie</a>
</div>

{% endblock %}