{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/messages/message-items.html" as messageItems %}
{% import "items/messages/message-button-container.html" as buttonContainer %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Message</div>
    <br>
    <div class="typo--h4">Items</div>
    <br>
    <div class="message-wrapper">
        {{ messageItems.messageItems() }}
    </div>
    <br>
    <br>
    <div class="typo--h4">Thread items</div>
    <br>
    <div class="message-wrapper">
    	{{ messageItems.threadMessageItems() }}
    </div>
    <br>
    <br>
    <div class="typo--h4">Button container (visible in small size)</div>
    <br>
    {{buttonContainer.messageButtonContainer(
        class='',
        button_attribute='',
        button_text='Кнопка'
    )}}    
</div>

{% endblock %}