{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/cards/card.html" as cards %}

{% block content %}

<div class="container">
    <br>
    <br>
    <h3 class="h3">Card</h3>
    <br>
	<br>

	{% include "items/cards/card_.html" %}

	<br>

	{% include "items/cards/card_overlap-md-up.html" %}

	<br>

	{% include "items/cards/card_overlap.html" %}

	<br>

	{% include "items/cards/card_num.html" %}

	<br>

	{% include "items/cards/card_marked.html" %}

	<br>

	{% include "items/cards/card_banner_write.html" %}

	<br>

	{% include "items/cards/card_banner_quote.html" %}

	<br>

	{% include "items/cards/card-icons.html" %}
	</div>
<br>
<br>
<br>

{% endblock %}