{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/cards/card.html" as cards %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Card</div>
    <br>
    <div class="typo--h4">Default</div>
    <br>
    {% include "items/cards/card_.html" %}
    <br>
    <br>
    <div class="typo--h4">Overlap md up</div>
    <br>
    {% include "items/cards/card_overlap-md-up.html" %}
    <br>
    <br>
    <div class="typo--h4">Overlap</div>
    <br>
    {% include "items/cards/card_overlap.html" %}
    <br>
    <br>
    <div class="typo--h4">Num</div>
    <br>
    {% include "items/cards/card_num.html" %}
    <br>
    <br>
    <div class="typo--h4">Marked</div>
    <br>
    {% include "items/cards/card_marked.html" %}
    <br>
    <br>
    <div class="typo--h4">Banner write</div>
    <br>
    {% include "items/cards/card_banner_write.html" %}
    <br>
    <br>
    <div class="typo--h4">Banner quote</div>
    <br>
    {% include "items/cards/card_banner_quote.html" %}
    <br>
    <br>
    <div class="typo--h4">Icons</div>
    <br>
    {% include "items/cards/card-icons.html" %}
</div>
{% endblock %}