{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block content %}

<div class="container">
    <br>
    <br>
    <div class="typo--h3">Button</div>
    <br>
    <div class="typo--h4">Default</div>
    <br>
	<a class="btn btn-sm btn-primary" href="">Играть</a>
	<a class="btn btn-primary" href="">Играть</a>
	<a class="btn btn-lg btn-primary" href="">Играть</a>
	<br>
	<br>
	<a class="btn btn-sm btn-secondary-outline" href="">Играть</a>
	<a class="btn btn-secondary-outline" href="">Играть</a>
	<a class="btn btn-lg btn-secondary-outline" href="">Играть</a>
	<br>
	<br>
	<a class="btn btn-sm btn-secondary" href="">Играть</a>
	<a class="btn btn-secondary" href="">Играть</a>
	<a class="btn btn-lg btn-secondary" href="">Играть</a>
	<br>
	<br>
	<a class="btn btn-sm btn-link" href="">Играть</a>
	<a class="btn btn-link" href="">Играть</a>
	<a class="btn btn-lg btn-link" href="">Играть</a>
    <br>
    <br>
    <div class="typo--h4">Alternate</div>
    <br>
	<a class="btn btn-sm btn-primary btn-alt" href="">Играть</a>
	<a class="btn btn-sm btn-primary btn-alt btn-higher" href="">Играть</a>
	<br>
	<br>
	<a class="btn btn-sm btn-primary-outline btn-alt" href="">Играть</a>
	<a class="btn btn-sm btn-primary-outline btn-alt btn-higher" href="">Играть</a>
	<br>
	<br>
	<a class="btn btn-sm btn-secondary-outline btn-alt" href="">Играть</a>
	<a class="btn btn-sm btn-secondary-outline btn-alt btn-higher" href="">Играть</a>
    <br>
    <br>
    <div class="typo--h4">Widths</div>
    <br>
	<a class="btn btn-secondary-outline btn-width-small" href="">Играть</a>
	<a class="btn btn-secondary-outline btn-width-medium" href="">Играть</a>
	<a class="btn btn-secondary-outline btn-width-large" href="">Играть</a>
	<a class="btn btn-secondary-outline btn-block" href="">Играть</a>
    <br>
    <br>
    <div class="typo--h4">Icon</div>
    <br>
	<a href="#" class="btn btn--icon">
	    <span class="sprite -note icon">
	        <svg viewBox="0 0 1 1"><use xlink:href="img/icons.svg#note" /></use></svg>
	    </span>
	</a>
    <br>
    <br>
    <div class="typo--h4">Twitter</div>
    <br>
	<button class="btn btn-twitter btn-xs">
		{{ sprite('twitter', '0 0 1 1', 'icon -white') }}
		Читать  @TimeToDraft
	</button>
    <br>
    <br>
    <div class="typo--h4">More wrapper</div>
    <br>
	<div class="btn-more-wrapper">
	    <button class="btn btn--more btn-block">
	        Показать еще...
	    </button>
	</div>
    <br>
    <br>
    <div class="typo--h4">Alternate more wrapper</div>
    <br>
	<div class="btn-more-wrapper-alt">
	    <button class="btn btn-alt btn-primary">
	        Продолжить чтение
	    </button>
	</div>
    <br>
    <br>
    <div class="typo--h4">Responsive</div>
    <br>
	<a class="btn btn-sm btn-primary btn-alt btn-responsive" href="">Играть</a>
	<a class="btn btn-sm btn-primary btn-alt btn-higher btn-responsive" href="">Играть</a>
	<a class="btn btn-lg btn-primary btn-alt btn-responsive" href="">Играть</a>

</div>
{% endblock %}