{% extends 'layouts/application.html' %}
{% import "items/cards/card.html" as cards %}
{% import "items/posts/posts-control.html" as postscontrol %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/posts/posts-list.html" as postsList %}

{% set colSideContent %}
    {% include "items/panel/panel-component_beginner-profi-play-forum_side.html" %}   
{% endset %}

{% set iconTeam %}
    {{ sprite('ttd-team', '0 0 1 1', 'icon') }}
{% endset %}

{% set iconExpert %}
    <i class="icon -expert"></i>
{% endset %}

{% set choose %}
    <div class="l-cards container">
        <div class="row">
            <div class="col-md-8 flex-xs-first flex-md-unordered">
                {{cards.card(
                    class='card--overlap-md-up',
                    image='images/posts/b-g_3.jpg',
                    label_type='profi',
                    label_text='Продвинутым',
                    title='<a href="">Над схваткой</a> / <a href="">Полуфиналы Евро-2016: играем строго от обороны</a>',
                    description='Вы наверняка не раз убеждались, что самое сложное в любом деле – это начать. Причины, из-за которых люди откладывают на потом (или навсегда) какие-то занятия могут быть разные.',
                    info_user='alextazy',
                    info_user_icon=iconTeam | safe,
                    info_time='1 час назад'
                )}}                
            </div>
            <div class="col-md-4 flex-xs-first flex-md-unordered">
                {% include "items/sliders/slider-cards.html" %}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title='<a href="">Над схваткой</a> / <a href="">EURO-2016. Fantasy-превью 1/4 финала: прогнозы, капитаны, джокеры</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-8">
                {{cards.card(
                    class='card--overlap-md-up card--accent',
                    image='images/posts/b-g_3.jpg',
                    label_type='action',
                    label_text='Акции time to draft',
                    title='<a href="">Получите 50 евро на депозит в четвертьфиналах Евро-2016, играя во фрироллы вместе с нами!</a>',
                    description="Вы наверняка не раз убеждались, что самое сложное в любом деле – это начать. Причины, из-за которых люди откладывают на потом (или навсегда) какие-то занятия могут быть разные.",
                    info_user='Time to draft',
                    info_time='2 дня назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title='<a href="">Mathmen</a> / <a href="">Обновленная платформа и другие новости FanTeam</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='FanTeam',
                    info_time='1 час назад',
                    hasNewComment=true
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title='<a href="">Total Draft — играем в Евро-2016</a> / <a href="">Играйте в четвертьфиналах Евро-2016</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='podcast',
                    label_text='Подкасты',
                    title='<a href="">Total Draft — играем в Евро-2016</a> / <a href="">Играйте в четвертьфиналах Евро-2016</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='неделю назад',
                    info_user_icon=iconExpert | safe
                )}}
            </div>
            <div class="col-md-12 flex-xs-first flex-md-unordered">
                {% include "items/sliders/slider-plays.html" %}
            </div>
            <div class="col-md-4 flex-xs-last flex-md-unordered">
                {% include "items/cards/card_banner_write.html" %}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title='<a href="">Полуфиналы Евро-2016: играем строго от обороны',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='Неделю назад',
                    info_user_icon=iconExpert | safe
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title='<a href="">Total Draft — играем в Евро-2016</a> / <a href="">Играйте в четвертьфиналах Евро-2016</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-12 flex-xs-last flex-md-unordered">
                {% include "items/sliders/news-from-fantasy-world.html" %}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title='<a href="">Mathmen</a> / <a href="">Обновленная платформа и другие новости FanTeam</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='FanTeam',
                    info_time='1 час назад',
                    hasNewComment=true
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title='<a href="">Total Draft — играем в Евро-2016</a> / <a href="">Играйте в четвертьфиналах Евро-2016</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='podcast',
                    label_text='Подкасты',
                    title='<a href="">Total Draft — играем в Евро-2016</a> / <a href="">Играйте в четвертьфиналах Евро-2016</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='неделю назад',
                    info_user_icon=iconExpert | safe
                )}}
            </div>
            <div class="col-md-8">
                {{cards.card(
                    class='card--overlap-md-up',
                    image='images/posts/b-g_3.jpg',
                    label_type='profi',
                    label_text='Продвинутым',
                    title='<a href="">9 шагов при подготовке к футбольному турниру в DFS</a>',
                    description='Вы наверняка не раз убеждались, что самое сложное в любом деле – это начать. Причины, из-за которых люди откладывают на потом (или навсегда) какие-то занятия могут быть разные.',
                    info_user='alextazy',
                    info_user_icon=iconTeam | safe,
                    info_time='1 час назад'
                )}}                
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title='<a href="">Total Draft — играем в Евро-2016</a> / <a href="">Играйте в четвертьфиналах Евро-2016</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='неделю назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title='<a href="">Mathmen</a> / <a href="">Обновленная платформа и другие новости FanTeam</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='FanTeam',
                    info_time='1 час назад',
                    hasNewComment=true
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title='<a href="">Total Draft — играем в Евро-2016</a> / <a href="">Играйте в четвертьфиналах Евро-2016</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4">
                {% include "items/cards/card_marked.html" %}
            </div>
            <div class="col-md-4">             
                {{cards.card(
                    class='',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title='<a href="">Mathmen</a> / <a href="">Обновленная платформа и другие новости FanTeam</a>',
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='неделю назад',
                    info_user_icon=iconTeam | safe,
                    hasNewComment=true
                )}}
            </div>
            <div class="col-md-8">
                {% include "items/cards/card_banner_quote.html" %}
            </div>
        </div>
    </div>

    <div class="btn-more-wrapper container">
        <button class="btn btn--more btn-block">
            Показать еще...
        </button>
    </div>

    {% include "items/panel/panel-component_posts-forum.html" %}
    
    {% include "items/sliders/slider-wide_promo.html" %}
    
    {% include "items/panel/panel-component_tw-ex-tls.html" %}
{% endset %}

{% set all %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-section">
                {% include "items/posts/post-write.html" %}
                {{ postsList.postsList(
                    colSideContent = colSideContent
                ) }}
                <div class="btn-more-wrapper">
                    <button class="btn btn--more btn-block">
                        Показать еще...
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endset %}

{% block content %}
    {% block firstBlock %}
        {% include "items/banners/quick-banner.html" %}
    {% endblock %}
    {{postscontrol.postscontrol(
        class = '',
        title = 'В центре внимания',
        title2 = 'Лента событий',
        label = 'Все посты',
        content_choose = choose,
        content_all = all
    )}}
{% endblock %}
