{% extends 'layouts/application.html' %}
{% import "items/cards/card.html" as cards %}
{% import "items/posts/posts-control.html" as postscontrol %}
{% from 'macros/helpers.html' import sprite %}
{% block title %}{{ home_01.title }}{% endblock %}

{% set iconTeam %}
    {{ sprite('ttd-team', '0 0 1 1', 'icon') }}
{% endset %}

{% set iconExpert %}
    <i class="icon -expert"></i>
{% endset %}

{% set choose %}
    <div class="l-cards container">
        <div class="row">
            <div class="col-md-8 flex-xs-first flex-md-unordered">
                {{cards.card(
                    class='card--overlap-md-up card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='profi',
                    label_text='Продвинутым',
                    title='Над схваткой / Полуфиналы Евро-2016: играем строго от обороны',
                    description='Вы наверняка не раз убеждались, что самое сложное в любом деле – это начать. Причины, из-за которых люди откладывают на потом (или навсегда) какие-то занятия могут быть разные.',
                    info_user='alextazy',
                    info_user_icon=iconTeam | safe,
                    info_time='1 час назад'
                )}}                
            </div>
            <div class="col-md-4 flex-xs-first flex-md-unordered">
                {% include "items/sliders/slider-cards.html" %}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title="Над схваткой / EURO-2016. Fantasy-превью 1/4 финала: прогнозы, капитаны, джокеры",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-8">
                {{cards.card(
                    class='card--overlap-md-up card--hoverable card--accent',
                    image='images/posts/b-g_3.jpg',
                    label_type='action',
                    label_text='Акции time to draft',
                    title="Получите 50 евро на депозит в четвертьфиналах Евро-2016, играя во фрироллы вместе с нами!",
                    description="Вы наверняка не раз убеждались, что самое сложное в любом деле – это начать. Причины, из-за которых люди откладывают на потом (или навсегда) какие-то занятия могут быть разные.",
                    info_user='Time to draft',
                    info_time='2 дня назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title="Mathmen / Обновленная платформа и другие новости FanTeam",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='FanTeam',
                    info_time='1 час назад',
                    hasNewComment=true
                )}}
            </div>
            <div class="col-md-4 hidden-sm-down">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title="Total Draft — играем в Евро-2016 / Играйте в четвертьфиналах Евро-2016",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4 hidden-sm-down">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='podcast',
                    label_text='Подкасты',
                    title="Total Draft — играем в Евро-2016 / Играйте в четвертьфиналах Евро-2016",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='неделю назад',
                    info_user_icon=iconExpert | safe
                )}}
            </div>
            <div class="col-md-12 flex-xs-first flex-md-unordered">
                {% include "items/sliders/slider-plays.html" %}
            </div>
            <div class="col-md-4 flex-xs-last flex-md-unordered">
                {% include "items/cards/card_banner_write.html" %}
            </div>
            <div class="col-md-4 hidden-sm-down">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title="Полуфиналы Евро-2016: играем строго от обороны",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='Неделю назад',
                    info_user_icon=iconExpert | safe
                )}}
            </div>
            <div class="col-md-4 hidden-sm-down">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title="Total Draft — играем в Евро-2016 / Играйте в четвертьфиналах Евро-2016",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-12 flex-xs-last flex-md-unordered">
                {% include "items/sliders/news-from-fantasy-world.html" %}
            </div>
            <div class="col-md-4 hidden-screen-3">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title="Mathmen / Обновленная платформа и другие новости FanTeam",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='FanTeam',
                    info_time='1 час назад',
                    hasNewComment=true
                )}}
            </div>
            <div class="col-md-4 hidden-md-down">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title="Total Draft — играем в Евро-2016 / Играйте в четвертьфиналах Евро-2016",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4 hidden-md-down">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='podcast',
                    label_text='Подкасты',
                    title="Total Draft — играем в Евро-2016 / Играйте в четвертьфиналах Евро-2016",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='неделю назад',
                    info_user_icon=iconExpert | safe
                )}}
            </div>
            <div class="col-md-8 hidden-md-down">
                {{cards.card(
                    class='card--overlap-md-up card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='profi',
                    label_text='Продвинутым',
                    title='9 шагов при подготовке к футбольному турниру в DFS',
                    description='Вы наверняка не раз убеждались, что самое сложное в любом деле – это начать. Причины, из-за которых люди откладывают на потом (или навсегда) какие-то занятия могут быть разные.',
                    info_user='alextazy',
                    info_user_icon=iconTeam | safe,
                    info_time='1 час назад'
                )}}                
            </div>
            <div class="col-md-4 hidden-md-down">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title="Total Draft — играем в Евро-2016 / Играйте в четвертьфиналах Евро-2016",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='неделю назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4 hidden-screen-3">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title="Mathmen / Обновленная платформа и другие новости FanTeam",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='FanTeam',
                    info_time='1 час назад',
                    hasNewComment=true
                )}}
            </div>
            <div class="col-md-4 hidden-md-down">
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='strategy',
                    label_text='Стратегии',
                    title="Total Draft — играем в Евро-2016 / Играйте в четвертьфиналах Евро-2016",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='alextazy',
                    info_time='1 час назад',
                    info_user_icon=iconTeam | safe
                )}}
            </div>
            <div class="col-md-4 hidden-md-down">
                {% include "items/cards/card_marked.html" %}
            </div>
            <div class="col-md-4 hidden-screen-3">             
                {{cards.card(
                    class='card--hoverable',
                    image='images/posts/b-g_3.jpg',
                    label_type='news',
                    label_text='Новости',
                    title="Mathmen / Обновленная платформа и другие новости FanTeam",
                    description="Какие изменения ждут FanTeam в ближайшие несколько недель.",
                    info_user='Eugene Leshkovich',
                    info_time='неделю назад',
                    info_user_icon=iconTeam | safe,
                    hasNewComment=true
                )}}
            </div>
            <div class="col-md-8 hidden-md-down">
                {% include "items/cards/card_banner_quote.html" %}
            </div>
        </div>
    </div>

    <div class="btn-more-wrapper container">
        <button class="btn btn--more btn-block">
            Показать еще...
        </button>
    </div>

    {% include "items/panel/panel-component_posts-forum.html" %}
    
    {% include "items/sliders/slider-promo.html" %}
    
    {% include "items/panel/panel-component_tw-ex-tls.html" %}
{% endset %}

{% set all %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                {% include "items/posts/post-write.html" %}
                {% include "items/posts/posts-list.html" %}
                <div class="btn-more-wrapper">
                    <button class="btn btn--more btn-block">
                        Показать еще...
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-side">
                {% include "items/panel/panel-component_play-forum-expert_side.html" %}
            </div>
        </div>
    </div>
{% endset %}

{% block content %}
    {% include "items/banners/quick-banner.html" %}

    {{postscontrol.postscontrol(
        class = '',
        title = 'В центре внимания',
        label = 'Все посты',
        content_choose = choose,
        content_all = all
    )}}
{% endblock %}
