{% extends 'layouts/application.html' %}

{% block pageClass %}{{ 'page--navbar-overlap' }}{% endblock %}

{% block title %}{{ home_02.title }}{% endblock %}

{% block content %}
    <div>
        {% include "items/playgrounds/playground-head.html" %}
        {% include "items/playgrounds/playground-info.html" %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
                    <div class="playground-container">
                        {% include "items/playgrounds/playground-expert.html" %}
                        <div class="playground-hr"></div>
                        {% include "items/playgrounds/playground-deposit-and-lang.html" %}
                    </div>
                </div>
            </div>
        </div>      
        {% include "items/playgrounds/playground-review.html" %}
    </div>

{% endblock %}