{% extends 'layouts/application.html' %}
{% from 'macros/helpers.html' import sprite %}
{% import "items/posts/posts-list.html" as postsList %}
{% import "items/tabs/tabs.html" as tabs %}

{% set colSideContent %}
    {% include "items/panel/panel-component_play-forum-expert_side.html" %}
{% endset %}

{% block content %}
    <div class="mdl-tabs mdl-tabs--lg is-upgraded">
        <div class="page-header">
            <div class="container">
                <h1 class="page-header__title">
                    Стратегии
                </h1>
                <div class="page-header__row page-header__row--bottom">
                    {{tabs.pageTabs(
                        items = {
                            item0: {
                                id: 0,
                                class: 'is-active',
                                title: 'Новичкам'
                            },
                            item1: {
                                id: 1,
                                class: '',
                                title: 'Продвинутым'
                            },
                            item2: {
                                id: 2,
                                class: '',
                                title: 'Инструменты'
                            }
                        }
                    )}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8" id="page_tabs_container">
                    <div class="mdl-tabs__panel is-active">
                        {{ postsList.postsList(
                            colSideContent = colSideContent
                        ) }}
                        <div class="btn-more-wrapper">
                            <button class="btn btn--more btn-block">
                                Показать еще...
                            </button>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel">
                        {{ postsList.postsList(
                            colSideContent = colSideContent
                        ) }}
                        <div class="btn-more-wrapper">
                            <button class="btn btn--more btn-block">
                                Показать еще...
                            </button>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel">
                        {{ postsList.postsList(
                            colSideContent = colSideContent
                        ) }}
                        <div class="btn-more-wrapper">
                            <button class="btn btn--more btn-block">
                                Показать еще...
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
