{% extends 'layouts/application.html' %}
{% import "items/cards/card.html" as cards %}
{% block title %}{{ home_01.title }}{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="typo--h1">Dispal 1</h1>
        <h2 class="typo--h2">Display 2</h2>
        <h3 class="typo--h3">Header 1</h3>
        <h4 class="typo--h4">Title 1</h4>
        <h5 class="typo--h5">Title 2</h5>
        <h6 class="typo--h6">Title 3</h6>
        <p class="typo--title">Title</p>
        <p class="typo--title-2">Title</p>
        <div class="typo--body-lg">
            <p>Body large</p>
        </div>
        <div class="typo--body">
            <p>Body default</p>
        </div>
        <div class="typo--body-sm">
            <p>Body small</p>
        </div>
        <div class="typo--caption">
            Caption
        </div>
    </div>
{% endblock %}
