// playground

.playground {
    transform: translateY(0);
    transition: $transition-default;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 0;
    background: $white;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    .uk-notouch &:hover,
    .uk-notouch &.hover {
        transform: translateY(-20px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

        @include media-breakpoint-down(sm) {
            transform: translateY(0);
        }
    }
}

// block

.playground__block {
    position: relative;
    padding: 40px 24px 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

// hr

.playground__hr {
    display: block;
    border-bottom: 1px solid $border-color-light;
    margin-top: 28px;
    margin-bottom: 28px;
}

// img

.playground__img {
    height: 138px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    border-radius: 2px 2px 0 0;
}

// rating

.playground__rating {
    top: 17px;
    left: 19px;
    position: absolute;
    z-index: 1;
    font-size: 0;
    white-space: nowrap;

    .icon {
        font-size: 1rem;
    }

    .icon + .icon {
        margin-left: 4px;
    }
}


// logo

.playground__logo {
    border: 2px solid $white;
    box-sizing: border-box;
    width: 66px;
    height: 66px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .playground__block & {
        margin-bottom: -66px;
        position: relative;
        top: -80px;
    }
}

// title

.playground__title {
    @include typo-h5;
    margin-top: 0;
    margin-bottom: 0;
}

// desc

.playground__desc {
    @include typo-body;
    flex-grow: 1;
    margin-top: 8px;

    @include media-breakpoint-down(md) {
        @include typo-body-sm;
        margin-top: 12px;
    }
}

// values

.playground__values {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

// value

.playground__value {
    width: 86px;
    flex-basis: 86px;
    padding-left: 8px;
    padding-right: 8px;
}

.playground__area-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

// overlay

.playground__overlay {
    background-color: rgba($dark, 0.9);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    pointer-events: none;
    transition: $transition-default;
    z-index: 2;

    .uk-notouch .playground:hover &,
    .uk-notouch .playground.hover & {
        opacity: 1;
        pointer-events: all;
    }
}

// btn

.btn.playground__btn {
    margin-top: 200px;
    margin-bottom: 40px;
    min-width: 220px;
    height: 44px;
    line-height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(md) {
        margin-top: 180px;
    }
}

// link

.btn-link.playground__btn-link {
    min-width: 220px;
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    color: $white;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .count {
        color: $grey;
    }
}