{% macro about(
register=true,
text="В футбол влюбился с детства, окончательно и бесповоротно.
Прогнозированием и аналитикой занимаюсь почти 10 лет,
а с активным развитием fantasy-футбола убежден, что буду заниматься и дальше.
Люблю всевозможные марафоны и новые возможности и много много длинного текста."
) %}
<div class="container about">
    <div class="row">
        <div class="col-sm-12 col-lg-8 col-md-12 offset-lg-2">
            <h6><strong>О себе</strong></h6>
            {% if register %}
                <span class="edit-label" id="edit-label">
                    <i class="icon -plus-small"></i>
                    <em class="h6">Опишите себя</em>
                </span>
                <textarea class="edit-area" id="edit-area"></textarea>
                <button type="button" id="back-edit" class="btn btn-outline-secondary">Отменить</button>
                <button type="button" id="save-edit" class="btn btn-success">Сохранить</button>
            {% else %}
                <div class="edit-area short-text">
                    {{ text | truncate(237, true, "...") }}
                    {% if text.length > 237 %}
                        <span class="more" id="read-more">Читать полностью</span>
                    {% endif %}
                </div>
                <div class="edit-area long-text">
                    {{ text }}
                    <span class="more" id="read-less">Свернуть</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}