{% macro subheader(
register=true
) %}
<div class="container profile">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 text-xs-center text-md-left text-lg-right">
            <div class="user-image-wrap">
                <a href="#">
                    <img class="img-circle profile-usr-img" src="images/users/userpic-2@3x.png" alt="">
                </a>
                {% if register %}
                    <div class="image-change">
                        <label class="change-action">
                            <span>Изменить</span>
                            <input type="file" id="file" class="custom-file-input">
                        </label>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 text-xs-center text-md-left">
                    <h3 class="p-user-name"><strong>Oleg Smolerov (awd2)</strong></h3>
                    <h6>Олег Смолеров</h6>
                    <div class="p-status"><i class="icon -expert -big"></i>Эксперт</div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 text-xs-center text-md-right">
                    <div class="subscribers-list">
                        <img class="img-circle" src="images/users/userpic-3@3x.png" alt="">
                        <img class="img-circle" src="images/users/userpic-4@3x.png" alt="">
                        <img class="img-circle" src="images/users/userpic-5@3x.png" alt="">
                        <img class="img-circle" src="images/users/userpic-6@3x.png" alt="">
                    </div>
                    <div class="subscribers-info">
                        <span>128 подписчиков</span>
                        <span>12 подписок</span>
                    </div>
                    {% if register %}
                        <button class="btn btn-sm btn-alt btn-higher btn-primary-outline edit-profile" data-toggle="modal" data-target="#editProfile" type="button">Редактировать профиль</button>
                    {% else %}
                        <button class="btn btn-sm btn-alt btn-higher btn-primary-outline edit-profile">Отправить сообщение</button>
                        <button class="btn btn-sm btn-alt btn-higher btn-primary edit-profile"
                                data-toggle="button" aria-pressed="false" autocomplete="off">Подписано</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 offset-lg-2 hidden-sm-down">
            <div class="separator"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12 offset-lg-2 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-4 text-xs-center text-md-left address">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>Год на сайте</div>
                            <div>Минск, Беларусь</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 hidden-md-up">
                            <div class="separator"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8 col-md-4">
                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-12 info-item text-sm-center text-md-left">
                            <span class="title flex-sm-last">Сообщений на форуме<span class="hidden-sm-down">:</span> </span>
                            <span class="count flex-sm-first"><a href="#">322</a></span>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-12 info-item text-sm-center text-md-left">
                            <span class="title flex-sm-last">Комментариев в блоге<span class="hidden-sm-down">:</span> </span>
                            <span class="count flex-sm-first"><a href="#">48</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 info-item text-sm-center text-md-right">
                    <span class="title">Карма:</span>
                    <span class="count flex-sm-first karma">+6</span>
                    {% if register == false %}
                        <span class="flex-sm-last btns-karma">
                        <button type="button" class="btn btn-secondary btn-sm">&#43;</button>
                        <button type="button" class="btn btn-secondary btn-sm">&#8212;</button>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}