.about {
    margin-top: 30px;
    margin-bottom: 30px;
    
    .h6 {
        color: $grey;
        margin-bottom: 15px;
    }
    
    .edit-label,
    .edit-area {
        @include typo-h6;
        color: $dark-grey;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    .edit-label {
        cursor: pointer;
    }
    
    .edit-area {
        background: transparent;
        border: 0;
        width: 100%;
        
        &:focus {
            outline: none;
        }
    }
    
    .btn {
        min-width: 118px;
    }
    
    .long-text {
        display: none;
    }
    
    .more {
        color: $darker-grey;
        cursor: pointer;
    }
}