.modal {
    .modal-body {
        &.edit-profile {
            .form-group {
                position: relative;
                
                .icon {
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                }
                
                .field-container {
                    padding-left: 45px;
                }
            }
        }
    }
    .modal-footer {
        &.edit-profile {
            padding-bottom: 40px;
            
            .btn {
                min-width: 118px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .modal-open .modal-dialog {
        width: 100vw;
        height: 100vh;
        max-width: none;
        margin: auto;
    }
}