.modal-open {
    .modal-backdrop {
        background: rgba(255, 255, 255, 0.98);
        
        &.in {
            opacity: 1;
        }
    }
    
    .modal-dialog {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.13), 0 2px 11px 0 rgba(0, 0, 0, 0.08);
        border-radius: 2px;
        
        .modal-content {
            border: 0;
        }
    }
    
    .modal-header {
        border: 0;
        padding: 15px 15px 15px 40px;
        
        .close {
            opacity: 1;
        }
        
        .modal-title {
            margin-top: 15px;
        }
    }
    
    .modal-body {
        padding: 15px 35px 15px 40px;
    }
    
    .modal-footer {
        color: $grey;
        border: 0;
        padding: 15px 38px;
    }
}

.pl-modal {
    .modal-body {
        overflow-y: auto;
        max-height: 400px;
        
        .pl-img {
            width: 46px;
            height: 46px;
            margin: 0 20px 0 0;
        }
        
        .pl-title {
            font-weight: 600;
            margin-top: 10px;
        }
        
        .pl-item {
            display: flex;
            font-size: $font-size-sm;
            margin: 0 0 15px 0;
        }
    }

}

@include media-breakpoint-down(sm) {
    .pl-modal {
        .modal-body {
            max-height: 70vh;
        }
        
        .modal-footer {
            position: fixed;
            bottom: 0;
            background: $white;
        }
    }
}
