.playgrounds {
    margin: 50px 0;
}

.playgrounds,
.playground-full {
    .playground {
        transform: translate3d(0, 0, 0);
        transition: all .2s ease-in-out;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        position: relative;
        border-radius: 2px;
        margin-top: 0;
        margin-bottom: 0;
        background: $white;

        &:hover {
            transform: translateY(-20px);
            box-shadow: 0 20px 40px rgba(0,0,0,0.3);
            
            .gr-overlay {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    
    .gr-desc {
        position: relative;
        margin: 0 25px;
        padding: 0 0 30px 0;
        border-bottom: 1px solid $light-silver;
    }
    
    .gr-img {
        height: 136px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
        .icon {
            position: relative;
            z-index: 1;
            margin-top: 17px;
            margin-right: 5px;
            
            &:first-child {
                margin: 17px 5px 0 17px;
            }

        }
        
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(30, 66, 31, 0.69);
            width: 100%;
            height: 100%;
        }
    }
    
    .gr-logo {
        border: 2px solid $white;
        box-sizing: border-box;
        width: 62px;
        margin: -35px 0 20px 0;
    }
    
    .gr-title {
        font-weight: 600;
    }
    
    .gr-values {
        display: flex;
        padding: 25px;
    }
    
    .gr-value {
        flex-grow: 1;
        flex-basis: 33.33%;
    }
    
    .gr-val-img {
        display: inline-block;
    }
    
    .gr-val-name {
        color: $grey;
        line-height: 0.9rem;
    }
    
    .gr-overlay {
        background-color: rgba(#17262a, 0.9);
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        pointer-events: none;
        transition: opacity 0.3s ease-out 0.1s;
        z-index: 1;
    }
    
    .gr-btn {
        margin-top: 200px;
        margin-bottom: 40px;
        border-radius: 100px;
        font-size: $font-size-lg;
        width: 220px;
        height: 44px;
    }
    
    .gr-link {
        display: block;
        font-size: $font-size-lg;
        margin: 0 0 10px 0;
        color: $white;
        
        span {
            color: $grey;
        }
    }
}

@include media-breakpoint-down(sm) {
    .playgrounds {
        margin-top: 0;
        
        .playground {
            margin-bottom: 20px;
            
            &:hover {
                transform: translateY(0);
            }
        }
    }
}