.playground-review {
    padding-top: 38px;
    padding-bottom: 20px;
    background: $white;
    
    .heading {
        font-weight: 900;
        
        &.h1 {
            margin-bottom: 18px;
        }
        
        &.h4 {
            margin-bottom: 14px;
        }
    }
    
    .img-fluid {
        margin-top: 33px;
    }
    
    p {
        @include typo-body-lg;
    }
}

@include media-breakpoint-down(sm) {
    .playground-review {
        .heading {
            &.h1 {
                @include typo-h3;
            }
            
            &.h4 {
                @include typo-h5;
            }
        }
        
        p {
            @include typo-body;
        }
    }
}