.card-banner {
  border-radius: 2px;
  background-color: #f4fff8;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.06);
  border: solid 1px rgba(212, 212, 212, 0.29);
  padding: 20px;
  padding-bottom: 245px;

  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: $dark-grey;
    position: relative;
    margin-top: 54px;
    padding: 0 20px;
  }
  &__description {
    position: relative;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: $dark-grey;
    position: absolute;
    top: 224px;
    left: 0;
    padding: 0 40px;

  }
  &__control {
    position: absolute;
    bottom: 62px;
    width: 100%;
    text-align: center;
    left: 0;

    .btn {
      border-radius: 100px;
      height: 40px;
      width: 194px;
      font-size: 14px;
      line-height: 22px;
    }
  }

}

@include media-breakpoint-down(sm) {
  .card-banner {
    padding-bottom: 226px;
    margin-bottom: 4px;
    &__title {
      font-size: 23px;
      line-height: 1.4;
      margin-top: 33px;
      padding: 0 35px;
    }
    &__description {
      font-size: 18px;
      top: 144px;
      padding: 0 20px;

    }
    &__control {
      font-size: 14px;
      bottom: 47px;
    }
  }
}