// badge

.mdl-badge {
  &[data-badge]:after {
    font-family: Arial, sans-serif;
    
    // .fonts-loaded & {
    	font-family: $font-family;
    // }

    font-weight: 500;
  }
} 

.mdl-badge.mdl-badge--overlap:after {
	right: -7px;
}