// pagination

.pagination {
  display: flex;
  margin-top: 28px;
  margin-bottom: 28px;

  @include media-breakpoint-down(sm) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

// link

.page-link {
  border-radius: 4px;
  @include typo-title;
  font-weight: 700;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 1.5rem;

  &:hover {
    text-decoration: none;
  }

  
  &,
  &:hover,
  .page-item.active &,
  .page-item.active &:hover,
  .page-item.disabled &,
  .page-item.disabled &:hover {
    @include media-breakpoint-down(sm) {
      border-color: transparent;
    }    
  }
}

// item

.page-item.prev .icon:before {
  content: '';
  @include arrow(left, 8px, 2px, $pagination-color);
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 50%;
  margin-left: -3px;
}

.page-item.next .icon:before {
  content: '';
  @include arrow(right, 8px, 2px, $pagination-color);
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: 50%;
  margin-left: -5px;
}

.page-item.prev.disabled .icon:before,
.page-item.next.disabled .icon:before {
  border-color: $pagination-disabled-color;
}