// selectfield

.mdl-selectfield--lg {
  font-size: $selectfield-font-size-lg;
  padding-top: $selectfield-vertical-spacing-lg;
  padding-bottom: $selectfield-vertical-spacing-lg;
}

// select

.mdl-selectfield__select {
  border-radius: 0;
  
  .mdl-selectfield--lg & {
    padding-top: $selectfield-padding-lg;
    padding-bottom: $selectfield-padding-lg;   
    font-size: $selectfield-font-size-lg;
  }
}

// label

.mdl-selectfield__label {
  margin-bottom: 0;

  .mdl-selectfield--lg & {
    font-size: $selectfield-font-size-lg;
    top: ($selectfield-padding-lg + $selectfield-vertical-spacing-lg);
  }

  .mdl-selectfield--floating-label.is-focused &,
  .mdl-selectfield--floating-label.is-dirty & {
    color: $grey;
  }

  .mdl-selectfield--lg.mdl-selectfield--floating-label.is-focused &,
  .mdl-selectfield--lg.mdl-selectfield--floating-label.is-dirty & {
    font-size : $selectfield-floating-label-fontsize-lg;
    top: $selectfield-vertical-spacing-lg - ($selectfield-floating-label-fontsize-lg + $selectfield-padding-lg);
  }

  .mdl-selectfield--lg.mdl-selectfield--floating-label.is-invalid & {
    font-size: $selectfield-floating-label-fontsize-lg;
  }

  .mdl-selectfield--lg &:after {
    bottom: $selectfield-vertical-spacing-lg;
  }
}

// error

.mdl-selectfield__error {
  right: 0;

  .mdl-selectfield--lg & {
    font-size: $selectfield-floating-label-fontsize;
  }
}

// icon

.mdl-selectfield__icon {
  .mdl-selectfield--lg & {
    bottom: $selectfield-vertical-spacing-lg;
    padding-top: $selectfield-padding-lg;
    padding-bottom: $selectfield-padding-lg;
    top: $selectfield-vertical-spacing-lg;    
  }

  .mdl-selectfield--floating-label.is-invalid & {
    // color: $selectfield-label-color;
  }
}