{% from 'macros/helpers.html' import sprite %}
{% set pageClass = "" %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body class="page {% block pageClass %}{% endblock %}">
    {% block header %}
      {% include "items/navbar/navbar_header_is-logged.html" %}
    {% endblock %}
    <div class="page__content">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% include "items/footer/footer.html" %}{% endblock %}
    <div class="page__bottom-placeholder"></div>
    {% block modal %}
    {% endblock %}
    {% block javascript %}
      <script src="javascripts/app.js" defer></script>
    {% endblock %}
  </body>
</html>
