{% from 'macros/helpers.html' import sprite %}

{% macro post(
    class='',
    title='Title',
    description='Description',
    user_ava='http://placehold.it/36x36',
    info_user='FanTeam',
    info_time='1 час назад',
    image='http://placehold.it/752x236',
    hasNewComment=false,
    hasAction=false,
    pending=false
) %}

<article class="post-item {{ class }}">
    <div class="post-item__info">
        <a href="#">
            <img class="avatar post-item__info-ava" src="{{ user_ava }}" alt="" width="36" height="36">
        </a>
        <a href="#" class="post-item__info-name">
            {{ info_user }}
        </a>
        <div class="post-item__info-time">{{info_time}}</div>
    </div>
    <div class="post-item__image" style="background-image: url({{ image }});"></div>
    <h2 class="post-item__title">{{ title | safe }}</h2>
    <div class="post-item__description">{{ description }}</div>
    {% include "items/cards/card-icons.html" %}
    {% if pending %}
        <div class="post-item__overlay-panel">
            <div class="post-item__overlay-text">
                {# sprite('clock', '0 0 1 1', 'icon -large') #}
                <div class="typo--title typo--medium">Ваш пост проходит модерацию и&nbsp;появится в&nbsp;ленте совсем скоро!</div>
            </div>
        </div>
    {% else %}
        <a class="post-item__area-link" href=""></a>
    {% endif %}
    {% if hasAction %}
        {% include "items/posts/post-item-actions.html" %}
    {% endif %}
</article>

{% endmacro %}