.main-sidebar {
  .post-links-tabs-wrapper {
    overflow: auto;
    margin-bottom: -20px;
    border-top: solid 1px rgba(158, 158, 158, 0.27);
    .post-tabs-link {
      margin-bottom: 0;
      padding: 0 14px 20px;
      list-style: none;
      white-space: nowrap;
      .tab-link {
        display: inline-block;
        padding: 16px 12px 15px;
        border-bottom: solid 1px rgba(158, 158, 158, 0.27);
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        color: $gray-lighter;
        cursor: pointer;
        &.active {
          color: $gray-dark;
          border-bottom: solid 2px $cornflower-blue;
          padding-bottom: 14px;
        }
      }
    }
  }
  .for-newcomers {
    margin-bottom: 28px;
    .post-links-tabs-wrapper {
      position: relative;
      border: none;
      margin-bottom: -6px;
      .tab-link {
        border-color: transparent;
      }
      &:after {
        content: "";
        position: absolute;
        top: 54px;
        left: 14px;
        right: 10px;
        height: 1px;
        background-color: rgba(158, 158, 158, 0.27);
      }
    }
    .post-column {
      .post-content {
        .media {
          padding-left: 10px;
          margin-bottom: 6px;
          .media-body {
            padding-top: 12px;
          }
          .media-left {
            /* font-family: Exo2; */
            padding-right: 14px;
            font-size: 40px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            text-align: right;
            color: $brand-primary;
          }
          .media-heading {
            line-height: 23px;
            .icon.-comment {
              margin-left: 11px;
            }
            .comments-count {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              color: $gray-lighter;
            }
          }
        }
      }
    }
  }
  .post-column {
    margin-bottom: 28px;
    z-index: 1;
    padding: 0;
    &.hidden-sm-down.active {
      display: block!important;
    }
    &.hidden-lg-down.active {
      display: block!important;
    }
    .title {
      margin-bottom: 18px;
      padding: 9px 0 15px;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 29px;
      color: $gray-dark;
      border-bottom: solid 1px rgba(158, 158, 158, 0.27);
    }
    .post-content {
      padding: 0;
      .media {
        margin-bottom: 11px;
        .media-left {
          padding-right: 17px;
          .media-object {
            width: 40px;
            height: 40px;
            border-radius: 20px;
          }
        }
        .icon.-expert, .icon.-ttd-team {
          width: 18px;
          height: 18px;
          vertical-align: sub;
        }
        .author-info {
          height: 24px;
          margin-bottom: -2px;
        }
        .author-name {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          color: $gray-light;
        }
        .media-heading {
          margin-bottom: 2px;
          font-size: 16px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          color: $gray-dark;
        }
        .message-text {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          color: $gray;
        }
      }
      .wide-slider__item {
        padding: 2px 0 82px;
        display: inline-block;
        position: relative;

        .wide-slider__item__image {
          float: left;
          margin-right:20px;
          .media-object {
            width: 46px;
            height: 46px;
            border-radius: 23px;
          }
        }
        .wide-slider__item__title {
          font-size: 16px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          color: $gray-dark;

          .text-label {
            font-size: 14px;
            line-height: 1.43;
            color: $salmon;
            position: relative;
            top: -4px;
            left: 5px;
            font-weight: normal;
          }
        }

        .wide-slider__item__control {
          position: absolute;
          bottom: 38px;
          left: 64px;
          .team_name {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            color: $gray;
          }
          .btn {
            width: 96px;
            height: 32px;
            border-radius: 100px;
            margin-left: 24px;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .main-sidebar .post-column .post-content .media {
    padding: 0 12px;
  }
  .main-sidebar {
    .post-links-tabs-wrapper {
      margin-bottom: 10px;
      overflow: hidden;
      height: 57px;
      .post-tabs-link {
        overflow: auto;
      }
    }
    .post-column {
      .post-content {
        .wide-slider__item {
          .wide-slider__item__image {
            .media-object {
              width: 40px;
              height: 40px;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }

  .main-sidebar .post-column .post-content .wide-slider__item {
    padding: 9px 18px 62px;
    margin-bottom: 6px;

    &:last-child {
      .wide-slider__item__control {
        border-bottom: none;
      }
    }


  }
  .main-sidebar .post-column .post-content .wide-slider__item .wide-slider__item__title {
    line-height: 1.35;
  }
  .main-sidebar .post-column .post-content .wide-slider__item .wide-slider__item__control {
    bottom: 4px;
    left: 75px;
    border-bottom: solid 1px rgba(158, 158, 158, 0.162);
    padding-bottom: 15px;
  }
  .main-sidebar .post-column {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .main-sidebar {
    padding: 0 14px 28px;
    .post-column {
      padding: 0 10px;
        .title {
          .icon.-expert {
            vertical-align: middle;
            margin-right: 4px;
          }
        }
      .twitter-button {
        float: right;
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .main-sidebar {
    padding: 0 0 28px;
    .post-column {
      .post-content {
        .media {
          .media-left {
            .media-object {
              width: 46px;
              height: 46px;
              border-radius: 23px;
            }
          }
        }
      }
    }
  }
}
