{% macro playground(
  img='http://placehold.it/387x138',
  user_logo='http://placehold.it/66x66',
  username='FanTeam',
  user_desc='Качественный сайт по Daily Fantasy Sports с большим количеством лиг, доступный игрокам из СНГ.',
  rel='9',
  support='8',
  pl_count='6.4k',
  stars_count='5',
  forum_count='354'
) %}
<div class="playground">
  <div class="playground__img" style="background-image: url({{ img }})">
    <div class="playground__rating">
      {% for i in [1,2,3,4,5] -%}
        {% if loop.index <= stars_count %}
          <i class="icon i-star"></i>
        {% endif %}
      {%- endfor %}
    </div>
  </div>
  <div class="playground__block">
    <img class="playground__logo" src="{{ user_logo }}" alt="">
    <div class="playground__title">{{ username }}</div>
    <div class="playground__desc">
      {{ user_desc }}
    </div>
    <div class="playground__hr"></div>
    <div class="playground__values">
      <div class="playground__value">
        <div class="progress-radial progress-{{ rel }}0">
            <div class="overlay">
              {{ rel }}
            </div>
        </div>
        <div class="progress-radial-caption">Надежность</div>
      </div>
      <div class="playground__value">
        <div class="progress-radial progress-{{ support//1 }}0">
            <div class="overlay">
              {{ support }}
            </div>
        </div>
        <div class="progress-radial-caption">Служба поддержки</div>
      </div>
      <div class="playground__value">
        <div class="progress-radial progress-radial--transparent">
            <div class="overlay">
              {{ pl_count }}
            </div>
        </div>
        <div class="progress-radial-caption">Количество игроков</div>
      </div>
    </div>
  </div>
  <div class="playground__overlay">
    <button class="btn btn-primary btn-alt btn-lg playground__btn" type="button">Зарегистрироваться</button>
    <a class="btn btn-link btn-lg playground__btn-link" href="#">Обзор площадки</a>
    <a class="btn btn-link btn-lg playground__btn-link" href="#">Обсудить на форуме <span class="count">({{ forum_count }})</span></a>
  </div>
</div>
{% endmacro %}